html.SHINE.color-lime.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #EEFF41 !important; }
  html.SHINE.color-lime.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #EEFF41 !important; }
html.SHINE.color-lime.res-nightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #EEFF41 !important; }
html.SHINE.color-lime.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #EEFF41;
  color: #EEFF41 !important; }
html.SHINE.color-lime.res-nightmode .md a {
  color: #EEFF41; }
html.SHINE.color-lime.res-nightmode .tagline a {
  color: #EEFF41 !important; }
html.SHINE.color-lime.res-nightmode a {
  color: #EEFF41; }
html.SHINE.color-lime.res-nightmode .search-result-meta a {
  color: #EEFF41 !important; }
html.SHINE.color-lime.res-nightmode .res-nightmode #progressIndicator h2 {
  color: #EEFF41; }
html.SHINE.color-lime.res-nightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #EEFF41; }
html.SHINE.color-lime.res-nightmode div#sr-header-area li.selected a {
  color: #EEFF41 !important; }
html.SHINE.color-lime.res-nightmode #header-bottom-left #header-img-a::after, html.SHINE.color-lime.res-nightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-lime.lightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #CDDC39 !important; }
  html.SHINE.color-lime.lightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #CDDC39 !important; }
html.SHINE.color-lime.lightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #CDDC39 !important; }
html.SHINE.color-lime.lightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #CDDC39;
  color: #CDDC39 !important; }
html.SHINE.color-lime.lightmode .md a {
  color: #CDDC39; }
html.SHINE.color-lime.lightmode .tagline a {
  color: #CDDC39 !important; }
html.SHINE.color-lime.lightmode a {
  color: #CDDC39; }
html.SHINE.color-lime.lightmode .search-result-meta a {
  color: #CDDC39 !important; }
html.SHINE.color-lime.lightmode .res-nightmode #progressIndicator h2 {
  color: #CDDC39; }
html.SHINE.color-lime.lightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #CDDC39; }
html.SHINE.color-lime.lightmode div#sr-header-area li.selected a {
  color: #CDDC39 !important; }
html.SHINE.color-lime.lightmode #header-bottom-left #header-img-a::after, html.SHINE.color-lime.lightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-lime .shine-expand .side-comments button.save {
  background: #EEFF41 !important; }
html.SHINE.color-lime .shine-expand .side-comments button:hover {
  background: #CDDC39 !important; }
html.SHINE.color-lime div#sr-header-area a#sr-more-link:hover {
  background: #EEFF41 !important; }
html.SHINE.color-lime div#sr-header-area li.selected a {
  color: #CDDC39 !important; }
html.SHINE.color-lime #themeselect input:checked ~ .foreground {
  border: 3px solid #EEFF41; }
html.SHINE.color-lime #themeselect input:checked ~ .theme-name {
  color: #EEFF41; }
html.SHINE.color-lime .shine-nav .shine-navicon {
  background-color: #CDDC39;
  transition: background-color 200ms; }
html.SHINE.color-lime #header-bottom-right a.message-count {
  color: white !important;
  background: #EEFF41; }
html.SHINE.color-lime button.btn, html.SHINE.color-lime button.save {
  background-color: #EEFF41; }
  html.SHINE.color-lime button.btn:hover, html.SHINE.color-lime button.save:hover {
    background-color: #CDDC39 !important; }
html.SHINE.color-lime .update-info .open-changelog {
  color: #EEFF41; }
html.SHINE.color-lime.colorful #header-bottom-left #header-img-a::after, html.SHINE.color-lime.colorful #header-bottom-left #header-img.default-header::after {
  background-color: #CDDC39 !important;
  color: #fff; }
html.SHINE.color-lime.colorful .thumbnail.spoiler::before, html.SHINE.color-lime.colorful .thumbnail.nsfw::before, html.SHINE.color-lime.colorful .thumbnail.default::before, html.SHINE.color-lime.colorful .thumbnail.image::before, html.SHINE.color-lime.colorful .thumbnail.self::before {
  background-color: #CDDC39 !important; }
html.SHINE.color-lime.accent .thumbnail.spoiler::before, html.SHINE.color-lime.accent .thumbnail.nsfw::before, html.SHINE.color-lime.accent .thumbnail.default::before, html.SHINE.color-lime.accent .thumbnail.image::before, html.SHINE.color-lime.accent .thumbnail.self::before {
  color: #EEFF41 !important; }
html.SHINE.color-lime.colorlines .thumbnail.spoiler::before, html.SHINE.color-lime.colorlines .thumbnail.nsfw::before, html.SHINE.color-lime.colorlines .thumbnail.default::before, html.SHINE.color-lime.colorlines .thumbnail.image::before, html.SHINE.color-lime.colorlines .thumbnail.self::before {
  background-color: transparent !important;
  border: 2px #EEFF41 solid !important;
  color: #EEFF41 !important;
  line-height: 46px; }
html.SHINE.color-lime.colorlines.modern-layout .thumbnail.spoiler::before, html.SHINE.color-lime.colorlines.modern-layout .thumbnail.nsfw::before, html.SHINE.color-lime.colorlines.modern-layout .thumbnail.default::before, html.SHINE.color-lime.colorlines.modern-layout .thumbnail.image::before, html.SHINE.color-lime.colorlines.modern-layout .thumbnail.self::before {
  border: 2px #CDDC39 solid !important;
  color: #CDDC39 !important;
  line-height: 56px !important; }
html.SHINE.color-lime .archived-infobar::before {
  background-color: #CDDC39; }
html.SHINE #colorselect label.lime .button span {
  background-color: #CDDC39; }
