html.SHINE.color-indigo.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #536DFE !important; }
  html.SHINE.color-indigo.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #536DFE !important; }
html.SHINE.color-indigo.res-nightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #536DFE !important; }
html.SHINE.color-indigo.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #536DFE;
  color: #536DFE !important; }
html.SHINE.color-indigo.res-nightmode .md a {
  color: #536DFE; }
html.SHINE.color-indigo.res-nightmode .tagline a {
  color: #536DFE !important; }
html.SHINE.color-indigo.res-nightmode a {
  color: #536DFE; }
html.SHINE.color-indigo.res-nightmode .search-result-meta a {
  color: #536DFE !important; }
html.SHINE.color-indigo.res-nightmode .res-nightmode #progressIndicator h2 {
  color: #536DFE; }
html.SHINE.color-indigo.res-nightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #536DFE; }
html.SHINE.color-indigo.res-nightmode div#sr-header-area li.selected a {
  color: #536DFE !important; }
html.SHINE.color-indigo.res-nightmode #header-bottom-left #header-img-a::after, html.SHINE.color-indigo.res-nightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-indigo.lightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #3D5AFE !important; }
  html.SHINE.color-indigo.lightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #3D5AFE !important; }
html.SHINE.color-indigo.lightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #3D5AFE !important; }
html.SHINE.color-indigo.lightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #3D5AFE;
  color: #3D5AFE !important; }
html.SHINE.color-indigo.lightmode .md a {
  color: #3D5AFE; }
html.SHINE.color-indigo.lightmode .tagline a {
  color: #3D5AFE !important; }
html.SHINE.color-indigo.lightmode a {
  color: #3D5AFE; }
html.SHINE.color-indigo.lightmode .search-result-meta a {
  color: #3D5AFE !important; }
html.SHINE.color-indigo.lightmode .res-nightmode #progressIndicator h2 {
  color: #3D5AFE; }
html.SHINE.color-indigo.lightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #3D5AFE; }
html.SHINE.color-indigo.lightmode div#sr-header-area li.selected a {
  color: #3D5AFE !important; }
html.SHINE.color-indigo.lightmode #header-bottom-left #header-img-a::after, html.SHINE.color-indigo.lightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-indigo .shine-expand .side-comments button.save {
  background: #536DFE !important; }
html.SHINE.color-indigo .shine-expand .side-comments button:hover {
  background: #3D5AFE !important; }
html.SHINE.color-indigo div#sr-header-area a#sr-more-link:hover {
  background: #536DFE !important; }
html.SHINE.color-indigo div#sr-header-area li.selected a {
  color: #3D5AFE !important; }
html.SHINE.color-indigo #themeselect input:checked ~ .foreground {
  border: 3px solid #536DFE; }
html.SHINE.color-indigo #themeselect input:checked ~ .theme-name {
  color: #536DFE; }
html.SHINE.color-indigo .shine-nav .shine-navicon {
  background-color: #3D5AFE;
  transition: background-color 200ms; }
html.SHINE.color-indigo #header-bottom-right a.message-count {
  color: white !important;
  background: #536DFE; }
html.SHINE.color-indigo button.btn, html.SHINE.color-indigo button.save {
  background-color: #536DFE; }
  html.SHINE.color-indigo button.btn:hover, html.SHINE.color-indigo button.save:hover {
    background-color: #3D5AFE !important; }
html.SHINE.color-indigo .update-info .open-changelog {
  color: #536DFE; }
html.SHINE.color-indigo.colorful #header-bottom-left #header-img-a::after, html.SHINE.color-indigo.colorful #header-bottom-left #header-img.default-header::after {
  background-color: #3D5AFE !important;
  color: #fff; }
html.SHINE.color-indigo.colorful .thumbnail.spoiler::before, html.SHINE.color-indigo.colorful .thumbnail.nsfw::before, html.SHINE.color-indigo.colorful .thumbnail.default::before, html.SHINE.color-indigo.colorful .thumbnail.image::before, html.SHINE.color-indigo.colorful .thumbnail.self::before {
  background-color: #3D5AFE !important; }
html.SHINE.color-indigo.accent .thumbnail.spoiler::before, html.SHINE.color-indigo.accent .thumbnail.nsfw::before, html.SHINE.color-indigo.accent .thumbnail.default::before, html.SHINE.color-indigo.accent .thumbnail.image::before, html.SHINE.color-indigo.accent .thumbnail.self::before {
  color: #536DFE !important; }
html.SHINE.color-indigo.colorlines .thumbnail.spoiler::before, html.SHINE.color-indigo.colorlines .thumbnail.nsfw::before, html.SHINE.color-indigo.colorlines .thumbnail.default::before, html.SHINE.color-indigo.colorlines .thumbnail.image::before, html.SHINE.color-indigo.colorlines .thumbnail.self::before {
  background-color: transparent !important;
  border: 2px #536DFE solid !important;
  color: #536DFE !important;
  line-height: 46px; }
html.SHINE.color-indigo.colorlines.modern-layout .thumbnail.spoiler::before, html.SHINE.color-indigo.colorlines.modern-layout .thumbnail.nsfw::before, html.SHINE.color-indigo.colorlines.modern-layout .thumbnail.default::before, html.SHINE.color-indigo.colorlines.modern-layout .thumbnail.image::before, html.SHINE.color-indigo.colorlines.modern-layout .thumbnail.self::before {
  border: 2px #3D5AFE solid !important;
  color: #3D5AFE !important;
  line-height: 56px !important; }
html.SHINE.color-indigo .archived-infobar::before {
  background-color: #3D5AFE; }
html.SHINE #colorselect label.indigo .button span {
  background-color: #3D5AFE; }
