html.SHINE.color-greenlight.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #8bc34a !important; }
  html.SHINE.color-greenlight.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #8bc34a !important; }
html.SHINE.color-greenlight.res-nightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #8bc34a !important; }
html.SHINE.color-greenlight.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #8bc34a;
  color: #8bc34a !important; }
html.SHINE.color-greenlight.res-nightmode .md a {
  color: #8bc34a; }
html.SHINE.color-greenlight.res-nightmode .tagline a {
  color: #8bc34a !important; }
html.SHINE.color-greenlight.res-nightmode a {
  color: #8bc34a; }
html.SHINE.color-greenlight.res-nightmode .search-result-meta a {
  color: #8bc34a !important; }
html.SHINE.color-greenlight.res-nightmode .menuarea .dropdown.lightdrop .selected {
  color: #8bc34a; }
html.SHINE.color-greenlight.res-nightmode .res-nightmode #progressIndicator h2 {
  color: #8bc34a; }
html.SHINE.color-greenlight.res-nightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #8bc34a; }
html.SHINE.color-greenlight.res-nightmode div#sr-header-area li.selected a {
  color: #8bc34a !important; }
html.SHINE.color-greenlight.res-nightmode #header-bottom-left #header-img-a::after, html.SHINE.color-greenlight.res-nightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-greenlight .shine-expand .side-comments button.save {
  background: #8bc34a !important; }
html.SHINE.color-greenlight div#sr-header-area a#sr-more-link:hover {
  background: #8bc34a !important; }
html.SHINE.color-greenlight div#sr-header-area li.selected a {
  color: #558B2F !important; }
html.SHINE.color-greenlight #themeselect input:checked ~ .foreground {
  border: 3px solid #8bc34a; }
html.SHINE.color-greenlight #themeselect input:checked ~ .theme-name {
  color: #8bc34a; }
html.SHINE.color-greenlight .shine-nav .shine-navicon {
  background-color: #558B2F;
  transition: background-color 200ms; }
html.SHINE.color-greenlight #header-bottom-right a.message-count {
  color: white !important;
  background: #8bc34a; }
html.SHINE.color-greenlight .colorful #header-bottom-left #header-img-a::after, html.SHINE.color-greenlight .colorful #header-bottom-left #header-img.default-header::after {
  background-color: #558B2F; }
html.SHINE.color-greenlight .colorful .thumbnail.spoiler::before, html.SHINE.color-greenlight .colorful .thumbnail.nsfw::before, html.SHINE.color-greenlight .colorful .thumbnail.default::before, html.SHINE.color-greenlight .colorful .thumbnail.image::before, html.SHINE.color-greenlight .colorful .thumbnail.self::before {
  background-color: #558B2F; }
html.SHINE #colorselect label.greenlight .button span {
  background-color: #8bc34a; }
