html.SHINE.color-lime.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #cddc39 !important; }
  html.SHINE.color-lime.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #cddc39 !important; }
html.SHINE.color-lime.res-nightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #cddc39 !important; }
html.SHINE.color-lime.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #cddc39;
  color: #cddc39 !important; }
html.SHINE.color-lime.res-nightmode .md a {
  color: #cddc39; }
html.SHINE.color-lime.res-nightmode .tagline a {
  color: #cddc39 !important; }
html.SHINE.color-lime.res-nightmode a {
  color: #cddc39; }
html.SHINE.color-lime.res-nightmode .search-result-meta a {
  color: #cddc39 !important; }
html.SHINE.color-lime.res-nightmode .res-nightmode #progressIndicator h2 {
  color: #cddc39; }
html.SHINE.color-lime.res-nightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #cddc39; }
html.SHINE.color-lime.res-nightmode div#sr-header-area li.selected a {
  color: #cddc39 !important; }
html.SHINE.color-lime.res-nightmode #header-bottom-left #header-img-a::after, html.SHINE.color-lime.res-nightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-lime .shine-expand .side-comments button.save {
  background: #cddc39 !important; }
html.SHINE.color-lime .shine-expand .side-comments button:hover {
  background: #AFB42B !important; }
html.SHINE.color-lime div#sr-header-area a#sr-more-link:hover {
  background: #cddc39 !important; }
html.SHINE.color-lime div#sr-header-area li.selected a {
  color: #AFB42B !important; }
html.SHINE.color-lime #themeselect input:checked ~ .foreground {
  border: 3px solid #cddc39; }
html.SHINE.color-lime #themeselect input:checked ~ .theme-name {
  color: #cddc39; }
html.SHINE.color-lime .shine-nav .shine-navicon {
  background-color: #AFB42B;
  transition: background-color 200ms; }
html.SHINE.color-lime #header-bottom-right a.message-count {
  color: white !important;
  background: #cddc39; }
html.SHINE.color-lime .colorful #header-bottom-left #header-img-a::after, html.SHINE.color-lime .colorful #header-bottom-left #header-img.default-header::after {
  background-color: #AFB42B; }
html.SHINE.color-lime .colorful .thumbnail.spoiler::before, html.SHINE.color-lime .colorful .thumbnail.nsfw::before, html.SHINE.color-lime .colorful .thumbnail.default::before, html.SHINE.color-lime .colorful .thumbnail.image::before, html.SHINE.color-lime .colorful .thumbnail.self::before {
  background-color: #AFB42B; }
html.SHINE.color-lime button {
  background-color: #cddc39; }
html.SHINE.color-lime button:hover {
  background-color: #AFB42B !important; }
html.SHINE #colorselect label.lime .button span {
  background-color: #cddc39; }
