html.SHINE.color-cyan.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #00bcd4 !important; }
  html.SHINE.color-cyan.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #00bcd4 !important; }
html.SHINE.color-cyan.res-nightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #00bcd4 !important; }
html.SHINE.color-cyan.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #00bcd4;
  color: #00bcd4 !important; }
html.SHINE.color-cyan.res-nightmode .md a {
  color: #00bcd4; }
html.SHINE.color-cyan.res-nightmode .tagline a {
  color: #00bcd4 !important; }
html.SHINE.color-cyan.res-nightmode a {
  color: #00bcd4; }
html.SHINE.color-cyan.res-nightmode .search-result-meta a {
  color: #00bcd4 !important; }
html.SHINE.color-cyan.res-nightmode .res-nightmode #progressIndicator h2 {
  color: #00bcd4; }
html.SHINE.color-cyan.res-nightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #00bcd4; }
html.SHINE.color-cyan.res-nightmode div#sr-header-area li.selected a {
  color: #00bcd4 !important; }
html.SHINE.color-cyan.res-nightmode #header-bottom-left #header-img-a::after, html.SHINE.color-cyan.res-nightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-cyan .shine-expand .side-comments button.save {
  background: #00bcd4 !important; }
html.SHINE.color-cyan .shine-expand .side-comments button:hover {
  background: #0097A7 !important; }
html.SHINE.color-cyan div#sr-header-area a#sr-more-link:hover {
  background: #00bcd4 !important; }
html.SHINE.color-cyan div#sr-header-area li.selected a {
  color: #0097A7 !important; }
html.SHINE.color-cyan #themeselect input:checked ~ .foreground {
  border: 3px solid #00bcd4; }
html.SHINE.color-cyan #themeselect input:checked ~ .theme-name {
  color: #00bcd4; }
html.SHINE.color-cyan .shine-nav .shine-navicon {
  background-color: #0097A7;
  transition: background-color 200ms; }
html.SHINE.color-cyan #header-bottom-right a.message-count {
  color: white !important;
  background: #00bcd4; }
html.SHINE.color-cyan .colorful #header-bottom-left #header-img-a::after, html.SHINE.color-cyan .colorful #header-bottom-left #header-img.default-header::after {
  background-color: #0097A7; }
html.SHINE.color-cyan .colorful .thumbnail.spoiler::before, html.SHINE.color-cyan .colorful .thumbnail.nsfw::before, html.SHINE.color-cyan .colorful .thumbnail.default::before, html.SHINE.color-cyan .colorful .thumbnail.image::before, html.SHINE.color-cyan .colorful .thumbnail.self::before {
  background-color: #0097A7; }
html.SHINE.color-cyan button {
  background-color: #00bcd4; }
html.SHINE.color-cyan button:hover {
  background-color: #0097A7 !important; }
html.SHINE #colorselect label.cyan .button span {
  background-color: #00bcd4; }
