html.SHINE.res-nightmode.color-lime.shine-list .shine-expand .side-comments button.save, html.SHINE.res-nightmode.color-lime.shine-grid .shine-expand .side-comments button.save {
  background: #cddc39 !important; }

html.SHINE.res-nightmode.color-lime.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #cddc39 !important; }
  html.SHINE.res-nightmode.color-lime.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #cddc39 !important; }
html.SHINE.res-nightmode.color-lime.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #cddc39 !important; }
html.SHINE.res-nightmode.color-lime.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #cddc39;
  color: #cddc39 !important; }
html.SHINE.res-nightmode.color-lime div#sr-header-area a#sr-more-link:hover {
  background: #cddc39 !important; }
html.SHINE.res-nightmode.color-lime .md a {
  color: #cddc39; }
html.SHINE.res-nightmode.color-lime .tagline a {
  color: #cddc39 !important; }
html.SHINE.res-nightmode.color-lime a {
  color: #cddc39 !important; }
html.SHINE.res-nightmode.color-lime .search-result-meta a {
  color: #cddc39 !important; }
html.SHINE.res-nightmode.color-lime .menuarea .dropdown.lightdrop .selected {
  color: #cddc39; }
html.SHINE.res-nightmode.color-lime .shine-nav .shine-navicon {
  background-color: #AFB42B;
  transition: background-color 200ms; }
html.SHINE.res-nightmode.color-lime .res-nightmode #progressIndicator h2 {
  color: #cddc39; }
html.SHINE.res-nightmode.color-lime .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #cddc39; }
html.SHINE .colorselect label.lime .button span {
  background-color: #cddc39; }
html.SHINE .colorselect label.lime .button span.right {
  background-color: #AFB42B; }
