html.SHINE.color-indigo.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #5C6BC0 !important; }
  html.SHINE.color-indigo.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #5C6BC0 !important; }
html.SHINE.color-indigo.res-nightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #5C6BC0 !important; }
html.SHINE.color-indigo.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #5C6BC0;
  color: #5C6BC0 !important; }
html.SHINE.color-indigo.res-nightmode .md a {
  color: #5C6BC0; }
html.SHINE.color-indigo.res-nightmode .tagline a {
  color: #5C6BC0 !important; }
html.SHINE.color-indigo.res-nightmode a {
  color: #5C6BC0; }
html.SHINE.color-indigo.res-nightmode .search-result-meta a {
  color: #5C6BC0 !important; }
html.SHINE.color-indigo.res-nightmode .menuarea .dropdown.lightdrop .selected {
  color: #5C6BC0; }
html.SHINE.color-indigo.res-nightmode .res-nightmode #progressIndicator h2 {
  color: #5C6BC0; }
html.SHINE.color-indigo.res-nightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #5C6BC0; }
html.SHINE.color-indigo .shine-expand .side-comments button.save {
  background: #5C6BC0 !important; }
html.SHINE.color-indigo div#sr-header-area a#sr-more-link:hover {
  background: #5C6BC0 !important; }
html.SHINE.color-indigo div#sr-header-area li.selected a {
  color: #5C6BC0 !important; }
html.SHINE.color-indigo .themeselect input:checked ~ .foreground {
  border: 3px solid #5C6BC0; }
html.SHINE.color-indigo .themeselect input:checked ~ .theme-name {
  color: #5C6BC0; }
html.SHINE.color-indigo .shine-nav .shine-navicon {
  background-color: #3F51B5;
  transition: background-color 200ms; }
html.SHINE .colorselect label.indigo .button span {
  background-color: #5C6BC0; }
