html.SHINE.color-red.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #F44336 !important; }
  html.SHINE.color-red.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #F44336 !important; }
html.SHINE.color-red.res-nightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #F44336 !important; }
html.SHINE.color-red.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #F44336;
  color: #F44336 !important; }
html.SHINE.color-red.res-nightmode .md a {
  color: #F44336; }
html.SHINE.color-red.res-nightmode .tagline a {
  color: #F44336 !important; }
html.SHINE.color-red.res-nightmode a {
  color: #F44336; }
html.SHINE.color-red.res-nightmode .search-result-meta a {
  color: #F44336 !important; }
html.SHINE.color-red.res-nightmode .res-nightmode #progressIndicator h2 {
  color: #F44336; }
html.SHINE.color-red.res-nightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #F44336; }
html.SHINE.color-red.res-nightmode div#sr-header-area li.selected a {
  color: #F44336 !important; }
html.SHINE.color-red.res-nightmode #header-bottom-left #header-img-a::after, html.SHINE.color-red.res-nightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-red.lightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #D32F2F !important; }
  html.SHINE.color-red.lightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #D32F2F !important; }
html.SHINE.color-red.lightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #D32F2F !important; }
html.SHINE.color-red.lightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #D32F2F;
  color: #D32F2F !important; }
html.SHINE.color-red.lightmode .md a {
  color: #D32F2F; }
html.SHINE.color-red.lightmode .tagline a {
  color: #D32F2F !important; }
html.SHINE.color-red.lightmode a {
  color: #D32F2F; }
html.SHINE.color-red.lightmode .search-result-meta a {
  color: #D32F2F !important; }
html.SHINE.color-red.lightmode .res-nightmode #progressIndicator h2 {
  color: #D32F2F; }
html.SHINE.color-red.lightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #D32F2F; }
html.SHINE.color-red.lightmode div#sr-header-area li.selected a {
  color: #D32F2F !important; }
html.SHINE.color-red.lightmode #header-bottom-left #header-img-a::after, html.SHINE.color-red.lightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-red .shine-expand .side-comments button.save {
  background: #F44336 !important; }
html.SHINE.color-red .shine-expand .side-comments button:hover {
  background: #D32F2F !important; }
html.SHINE.color-red div#sr-header-area a#sr-more-link:hover {
  background: #F44336 !important; }
html.SHINE.color-red div#sr-header-area li.selected a {
  color: #D32F2F !important; }
html.SHINE.color-red #themeselect input:checked ~ .foreground {
  border: 3px solid #F44336; }
html.SHINE.color-red #themeselect input:checked ~ .theme-name {
  color: #F44336; }
html.SHINE.color-red .shine-nav .shine-navicon {
  background-color: #D32F2F;
  transition: background-color 200ms; }
html.SHINE.color-red #header-bottom-right a.message-count {
  color: white !important;
  background: #F44336; }
html.SHINE.color-red button.btn, html.SHINE.color-red button.save {
  background-color: #F44336; }
  html.SHINE.color-red button.btn:hover, html.SHINE.color-red button.save:hover {
    background-color: #D32F2F !important; }
html.SHINE.color-red .update-info .open-changelog {
  color: #F44336; }
html.SHINE.color-red.colorful #header-bottom-left #header-img-a::after, html.SHINE.color-red.colorful #header-bottom-left #header-img.default-header::after {
  background-color: #D32F2F !important;
  color: #fff; }
html.SHINE.color-red.colorful .thumbnail.spoiler::before, html.SHINE.color-red.colorful .thumbnail.nsfw::before, html.SHINE.color-red.colorful .thumbnail.default::before, html.SHINE.color-red.colorful .thumbnail.image::before, html.SHINE.color-red.colorful .thumbnail.self::before {
  background-color: #D32F2F !important; }
html.SHINE.color-red.colorlines .thumbnail.spoiler::before, html.SHINE.color-red.colorlines .thumbnail.nsfw::before, html.SHINE.color-red.colorlines .thumbnail.default::before, html.SHINE.color-red.colorlines .thumbnail.image::before, html.SHINE.color-red.colorlines .thumbnail.self::before {
  background-color: transparent !important;
  border: 2px #F44336 solid !important;
  color: #F44336 !important;
  line-height: 46px; }
html.SHINE.color-red .archived-infobar::before {
  background-color: #D32F2F; }
html.SHINE #colorselect label.red .button span {
  background-color: #D32F2F; }
