html.SHINE.color-orange.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #FF9800 !important; }
  html.SHINE.color-orange.res-nightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #FF9800 !important; }
html.SHINE.color-orange.res-nightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #FF9800 !important; }
html.SHINE.color-orange.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #FF9800;
  color: #FF9800 !important; }
html.SHINE.color-orange.res-nightmode .md a {
  color: #FF9800; }
html.SHINE.color-orange.res-nightmode .tagline a {
  color: #FF9800 !important; }
html.SHINE.color-orange.res-nightmode a {
  color: #FF9800; }
html.SHINE.color-orange.res-nightmode .search-result-meta a {
  color: #FF9800 !important; }
html.SHINE.color-orange.res-nightmode .res-nightmode #progressIndicator h2 {
  color: #FF9800; }
html.SHINE.color-orange.res-nightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #FF9800; }
html.SHINE.color-orange.res-nightmode div#sr-header-area li.selected a {
  color: #FF9800 !important; }
html.SHINE.color-orange.res-nightmode #header-bottom-left #header-img-a::after, html.SHINE.color-orange.res-nightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-orange.lightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #E65100 !important; }
  html.SHINE.color-orange.lightmode.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #E65100 !important; }
html.SHINE.color-orange.lightmode.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #E65100 !important; }
html.SHINE.color-orange.lightmode.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #E65100;
  color: #E65100 !important; }
html.SHINE.color-orange.lightmode .md a {
  color: #E65100; }
html.SHINE.color-orange.lightmode .tagline a {
  color: #E65100 !important; }
html.SHINE.color-orange.lightmode a {
  color: #E65100; }
html.SHINE.color-orange.lightmode .search-result-meta a {
  color: #E65100 !important; }
html.SHINE.color-orange.lightmode .res-nightmode #progressIndicator h2 {
  color: #E65100; }
html.SHINE.color-orange.lightmode .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #E65100; }
html.SHINE.color-orange.lightmode div#sr-header-area li.selected a {
  color: #E65100 !important; }
html.SHINE.color-orange.lightmode #header-bottom-left #header-img-a::after, html.SHINE.color-orange.lightmode #header-bottom-left #header-img.default-header::after {
  background-color: transparent !important; }
html.SHINE.color-orange .shine-expand .side-comments button.save {
  background: #FF9800 !important; }
html.SHINE.color-orange .shine-expand .side-comments button:hover {
  background: #E65100 !important; }
html.SHINE.color-orange div#sr-header-area a#sr-more-link:hover {
  background: #FF9800 !important; }
html.SHINE.color-orange div#sr-header-area li.selected a {
  color: #E65100 !important; }
html.SHINE.color-orange #themeselect input:checked ~ .foreground {
  border: 3px solid #FF9800; }
html.SHINE.color-orange #themeselect input:checked ~ .theme-name {
  color: #FF9800; }
html.SHINE.color-orange .shine-nav .shine-navicon {
  background-color: #E65100;
  transition: background-color 200ms; }
html.SHINE.color-orange #header-bottom-right a.message-count {
  color: white !important;
  background: #FF9800; }
html.SHINE.color-orange button.btn, html.SHINE.color-orange button.save {
  background-color: #FF9800; }
  html.SHINE.color-orange button.btn:hover, html.SHINE.color-orange button.save:hover {
    background-color: #E65100 !important; }
html.SHINE.color-orange .update-info .open-changelog {
  color: #FF9800; }
html.SHINE.color-orange.colorful #header-bottom-left #header-img-a::after, html.SHINE.color-orange.colorful #header-bottom-left #header-img.default-header::after {
  background-color: #E65100 !important;
  color: #fff; }
html.SHINE.color-orange.colorful .thumbnail.spoiler::before, html.SHINE.color-orange.colorful .thumbnail.nsfw::before, html.SHINE.color-orange.colorful .thumbnail.default::before, html.SHINE.color-orange.colorful .thumbnail.image::before, html.SHINE.color-orange.colorful .thumbnail.self::before {
  background-color: #E65100 !important; }
html.SHINE.color-orange.colorlines .thumbnail.spoiler::before, html.SHINE.color-orange.colorlines .thumbnail.nsfw::before, html.SHINE.color-orange.colorlines .thumbnail.default::before, html.SHINE.color-orange.colorlines .thumbnail.image::before, html.SHINE.color-orange.colorlines .thumbnail.self::before {
  background-color: transparent !important;
  border: 2px #FF9800 solid !important;
  color: #FF9800 !important;
  line-height: 46px; }
html.SHINE.color-orange .archived-infobar::before {
  background-color: #E65100; }
html.SHINE #colorselect label.orange .button span {
  background-color: #E65100; }
