html.SHINE.res-nightmode.color-orange.shine-list .shine-expand .side-comments button.save, html.SHINE.res-nightmode.color-orange.shine-grid .shine-expand .side-comments button.save {
  background: #de8e30 !important; }

html.SHINE.res-nightmode.color-orange.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
  border-left: 5px solid #de8e30 !important; }
  html.SHINE.res-nightmode.color-orange.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid #de8e30 !important; }
html.SHINE.res-nightmode.color-orange.shine-list body > .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
  color: #de8e30 !important; }
html.SHINE.res-nightmode.color-orange.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
  border: 1px solid #de8e30;
  color: #de8e30 !important; }
html.SHINE.res-nightmode.color-orange div#sr-header-area a#sr-more-link:hover {
  background: #de8e30 !important; }
html.SHINE.res-nightmode.color-orange .md a {
  color: #de8e30; }
html.SHINE.res-nightmode.color-orange .tagline a {
  color: #de8e30 !important; }
html.SHINE.res-nightmode.color-orange a {
  color: #de8e30 !important; }
html.SHINE.res-nightmode.color-orange .search-result-meta a {
  color: #de8e30 !important; }
html.SHINE.res-nightmode.color-orange .menuarea .dropdown.lightdrop .selected {
  color: #de8e30; }
html.SHINE.res-nightmode.color-orange .shine-nav .shine-navicon {
  background-color: #ff6700;
  transition: background-color 200ms; }
html.SHINE.res-nightmode.color-orange .res-nightmode #progressIndicator h2 {
  color: #de8e30; }
html.SHINE.res-nightmode.color-orange .res-nightmode #progressIndicator .RESLoadingSpinner {
  color: #de8e30; }
html.SHINE .colorselect label.orange .button span {
  background-color: #de8e30; }
html.SHINE .colorselect label.orange .button span.right {
  background-color: #ff6700; }
