html.SHINE {
	&.color-#{$colorname} {
		&.res-nightmode {
			&.shine-list {
				body {
					> div.content div#siteTable {
						&.linklisting > .thing.active-thing {
							border-left: 5px solid $color_main_accent !important;
							&:hover {
								border-left: 5px solid $color_main_accent !important;
							}
						}
					}
					> .content div#siteTable > .thing .entry.RES-keyNav-activeElement a.title {
						color: $color_main_accent !important;
					}
				}
				&.shine-list-classic .side-comments {
					.shine-comment:hover::after {
						border: 1px solid $color_main_accent;
						color: $color_main_accent !important;
					}
				}
			}
			.md {
				a {
					color: $color_main_accent;
				}
			}
			.tagline {
				a {
					color: $color_main_accent !important;
				}
			}
			a {
				color: $color_main_accent;
			}
			.search-result-meta a {
				color: $color_main_accent !important;
			}
			.menuarea .dropdown.lightdrop .selected {
				color: $color_main_accent;
			}
			.res-nightmode #progressIndicator {
				h2 {
					color: $color_main_accent;
				}
				.RESLoadingSpinner {
					color: $color_main_accent;			
				}
			}
		}
		
		.shine-expand {
			.side-comments button.save {
				background: $color_main_accent !important;
			}
		}


		div {
			&#sr-header-area {
				a {
					&#sr-more-link:hover {
						background: $color_main_accent !important;
					}
				}
				li.selected a {
				    color: $color_main_accent !important;
				}
			}
		}

		#themeselect input:checked ~ .foreground {
			border: 3px solid $color_main_accent;
		}

		#themeselect input:checked ~ .theme-name {
			color: $color_main_accent;
		}

		.shine-nav .shine-navicon {
			background-color: $color_fab_color;
			transition: background-color 200ms;
		}
		#header-bottom-right a.message-count {
		    color: white !important;
		    background: $color_main_accent;
		}

		.thumbnail.spoiler::before, .thumbnail.nsfw::before, .thumbnail.default::before, .thumbnail.image::before, .thumbnail.self::before {
		    color: $color_main_accent;
		}
	}

	#colorselect label.#{$colorname} .button {
		span {
			background-color: $color_main_accent;
		}
	}
}