

html.SHINE {
	&.theme-#{$themename}.modern-layout {
		&.shine-list {
			&.shine-list-classic {
				body > div.content {
					padding: 20px 0 0 0 !important;

					.shine-expand div#siteTable.linklisting {
						width: auto !important;
					}

					div#siteTable.linklisting {
					    width: 50% !important;
					    margin-left: 0px !important;
					    box-shadow: transparent 0 0 0;
					}
				}
				.shine-expand {
					left: calc(50% + 1px) !important;
				    width: calc(50% - 2px) !important;
				    box-shadow: $color_border_shineexpand -1px 0px 0px !important;
				    top: 45px !important;
				    height: calc(100% - 45px) !important;
				}
				#header .layout-switch {
				    left: calc(50% - 45px);
				}

				&.show-shortcuts .shine-expand {
				    top: 65px !important;
				    height: calc(100% - 65px) !important;
				}
				&.show-sidebar .shine-expand {
				    left: calc(50% - 180px) !important;
				    width: calc(50% - 180px) !important;
				}
			}

			body > div.content {
				div#siteTable {
					> .thing {
						background: $color_bg_darkest !important;
						border-left: 5px solid $color_bg_darkest !important;
						&:hover {
							background: $color_bg_darker !important;
							border-left: 5px solid $color_bg_darker !important;
						}
						&.active-thing {
							background-color: $color_bg_darker !important;
						}
						a.thumbnail {
						    order: 2;
						    width: 60px;
						    min-width: 60px;
						    height: 60px;
						    margin: 0 15px 0 5px;
						    overflow: hidden;
						    border-radius: 2px;

						    img {
						    	object-fit: cover;
							    width: 60px;
							    height: 60px;
						    }
						}

					    .midcol {
						    order: 1;
						}
					}

					.thumbnail.spoiler::before, .thumbnail.nsfw::before, .thumbnail.default::before, .thumbnail.image::before, .thumbnail.self::before {
					    margin-top: -30px;
					    margin-left: -30px;
					    width: 60px;
					    height: 60px;
					    //color: #999;
					    line-height: 60px;
					    border-radius: 4px;
					}
				}
			}
			body .thing.comment {
				.likes .arrow.upmod, .likes .arrow.up {
					opacity: 1;
				}
				.dislikes .arrow.downmod, .dislikes .arrow.down {
					opacity: 1;
				}
			}
		}
		.flair, .linkflairlabel {
			color: $color_bg_flair;
			background-color: $color_bg_flairbackground !important;
			border-color: $color_bg_flairborder !important;
		}
	}

	.rank {
		display: none !important;
	}
}