html.SHINE.res-nightmode.cleandark.shine-list body, html.SHINE.res-nightmode.cleandark body, html.SHINE.res-nightmode.cleandark body > .content {
    background: rgb(25, 24, 29) !important;
}

html.SHINE.res-nightmode.cleandark #header, html.SHINE.res-nightmode.cleandark div#header-bottom-left {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px !important;
    background: rgb(34, 33, 39) !important;
}

html.SHINE.res-nightmode.cleandark.shine-list body > div.content div#siteTable > .thing {
    background: rgb(34, 33, 39) !important;
    border-bottom: 1px solid rgb(25, 24, 29) !important;
    border-left: 5px solid rgb(34, 33, 39) !important;
    transition: all 200ms ease;
}

html.SHINE.shine-grid.res-nightmode.cleandark body > .content #siteTable .thing {
    background: rgb(34, 33, 39) !important;
    transition: all 200ms ease;
}

html.SHINE.shine-grid.res-nightmode.cleandark body > .content #siteTable .thing:hover {
    background: rgb(44, 43, 49) !important;
}

html.SHINE.res-nightmode.cleandark.shine-list body > div.content div#siteTable.res-ner-listing > .thing:hover {
    background: rgb(44, 43, 49) !important;
    border-left: 5px solid rgb(44, 43, 49) !important;
}

html.SHINE.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing {
    border-left: 5px solid rgb(222, 142, 48) !important;
}

html.SHINE.shine-list body > div.content div#siteTable.linklisting > .thing.active-thing:hover {
    border-left: 5px solid rgb(222, 142, 48) !important;
}

html.SHINE.res-nightmode.cleandark .thing .title, html.SHINE.res-nightmode.cleandark .md, html.SHINE.res-nightmode.cleandark .md del {
    color: rgb(240, 240, 240) !important;
}

html.SHINE.res-nightmode.cleandark .thing .title:visited {
    color: rgb(150, 150, 150) !important;
}

html.SHINE.res-nightmode.cleandark .tagline a, html.SHINE.res-nightmode.cleandark .search-result-meta a {
    color: rgb(222, 142, 48) !important;
}

html.SHINE.res-nightmode.cleandark a {
    color: rgb(222, 142, 48) !important;
}

html.SHINE.res-nightmode.cleandark .md a {
    color: rgb(222, 142, 48);
}

html.SHINE.res-nightmode.cleandark.show-sidebar .side {
    background: rgb(34, 33, 39);
    color: rgb(180, 180, 180);
}

html.SHINE.res-nightmode.cleandark.show-sidebar .side a.reddit-link-title {
    color: rgb(150, 150, 150) !important;
}

html.SHINE.res-nightmode.cleandark .sidecontentbox .content {
    border: 0 !important;
    background: transparent !important;
}

html.SHINE.res-nightmode.cleandark.show-sidebar .side .md {
    color: rgb(150, 150, 150);    
}

html.SHINE.res-nightmode.cleandark #header-bottom-right a {
    color: rgb(150, 150, 150);
}

html.SHINE.res-nightmode.cleandark.shine-list .shine-expand, html.SHINE.res-nightmode.cleandark.shine-list .side-comments, html.SHINE.res-nightmode.cleandark div#sr-header-area {
	background: rgb(34, 33, 39) !important;
}

html.SHINE.res-nightmode.cleandark #header ul.tabmenu {
	background: rgb(34, 33, 39) !important;
}

html.SHINE.res-nightmode.cleandark #header ul.tabmenu:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px !important;
}

html.SHINE.res-nightmode.cleandark div#sr-header-area a {
    color: rgb(130, 130, 130) !important;
}

html.SHINE.res-nightmode.cleandark.shine-list .shine-expand .toggle-child-comments, html.SHINE.res-nightmode.cleandark .md blockquote {
    color: rgb(180, 180, 180) !important;
    background: rgb(44, 43, 49) !important;
}

html.SHINE.res-nightmode.cleandark svg {
    fill: rgb(240, 240, 240);
}

html.SHINE.res-nightmode.cleandark .md blockquote {
    padding: 6px 8px; 
}

html.SHINE.res-nightmode.cleandark .md blockquote {
    border-left: 0;
}

html.SHINE.res-nightmode.cleandark .arrow {
    opacity: 0.3;
}

html.SHINE.res-nightmode.cleandark .comment .child, html.SHINE.res-nightmode.cleandark .comment .showreplies {
    border-left: 1px solid rgb(54, 53, 59);
}

html.SHINE.res-nightmode.cleandark .flair, html.SHINE.res-nightmode.cleandark .linkflairlabel {
    background: transparent;
    color: rgb(174, 173, 179);
    border: 1px solid rgb(134, 133, 139);
    padding: 0 4px;
}

html.SHINE.res-nightmode.cleandark div#sr-header-area {
    background: rgb(34, 33, 39) !important;
    border-bottom: 0px solid rgb(221, 221, 221) !important;
}

html.SHINE.res-nightmode.cleandark .link .usertext-body .md {
    background-color: transparent;
    color: rgb(210, 210, 210);
    border: 0px solid #369;
    border-radius: 0px;
    padding: 10px 0;
}

html.SHINE.res-nightmode.cleandark textarea {
    background-color: rgb(24,23,29) !important;
    color: rgb(240,240,240) !important;
    border-color: rgb(54,53,59) !important;
}

html.SHINE.res-nightmode.cleandark .tagline, html.SHINE.res-nightmode.cleandark .entry .buttons li a, html.SHINE.res-nightmode.cleandark .trending-subreddits strong {
    color: rgb(130, 130, 130) !important;
}

.res-nightmode.cleandark input[type="text"], .res-nightmode.cleandark input[type="password"], .res-nightmode.cleandark .c-form-control {
    background-color: rgb(24,23,29) !important;
    color: rgb(240,240,240) !important;
    border-color: rgb(54,53,59) !important;
}

html.SHINE.res-nightmode.cleandark #header-bottom-right .user .userkarma {
    color: rgb(180, 180, 180);
}

html.SHINE.res-nightmode.cleandark .sidebox, html.SHINE.res-nightmode.cleandark .subredditbox, html.SHINE.res-nightmode.cleandark .subreddit-info, html.SHINE.res-nightmode.cleandark .raisedbox, html.SHINE.res-nightmode.cleandark .login-form-side, html.SHINE.res-nightmode.cleandark .morelink {
    color: rgb(180, 180, 180) !important;
    background: rgb(44, 43, 49) !important;
    border: 0;
}

html.SHINE.res-nightmode.cleandark .sidebox .spacer, html.SHINE.res-nightmode.cleandark .side .linkinfo {
    background: rgba(25, 24, 29, .3) !important;
    margin-top: 0 !important;
}

html.SHINE.shine-list .shine-expand .side-comments button.save, html.SHINE.shine-grid .shine-expand .side-comments button.save {
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
    background: rgb(222, 142, 48) !important;
}

html.SHINE.res-nightmode.cleandark .nsfw-stamp, html.SHINE.res-nightmode.cleandark .nsfw-stamp acronym {
    color: rgb(191, 64, 64);
}

html.SHINE.shine-default .panestack-title {
    border-bottom: 1px solid rgb(34, 33, 39);
}

html.SHINE.res-nightmode.cleandark .menuarea .dropdown.lightdrop .selected {
    color: rgb(222, 142, 48);
}

html.SHINE.res-nightmode.cleandark .RESCloseButton, .res-nightmode.cleandark .message.new > .entry, .res-nightmode.cleandark .read-next, .res-nightmode.cleandark .drop-choices {
    background-color: rgb(34, 33, 39) !important;
    border: 0;
}

.res-nightmode.cleandark body, .res-nightmode.cleandark body .content, .res-nightmode.cleandark .modal-body, .res-nightmode.cleandark .side, .res-nightmode.cleandark .icon-menu a, .res-nightmode.cleandark .side .leavemoderator, .res-nightmode.cleandark .side .leavecontributor-button, .res-nightmode.cleandark .side .titlebox, .res-nightmode.cleandark .side .spacer .titlebox .redditname, .res-nightmode.cleandark .side .titlebox .flairtoggle, .res-nightmode.cleandark .side .usertext-body .md ol, .res-nightmode.cleandark .side .usertext-body .md ol ol, .res-nightmode.cleandark .side .usertext-body .md ol ol li, .res-nightmode.cleandark .modactionlisting table *, .res-nightmode.cleandark .side .recommend-box .rec-item {
    background-color: transparent;
    border: 0;
}

html.SHINE.res-nightmode.cleandark .side .spacer .title {
    margin-top: 20px;
}

html.SHINE.res-nightmode.cleandark .fancy-toggle-button a {
    color: rgb(255, 255, 255) !important;
}

html.SHINE.res-nightmode.cleandark .dropdown.srdrop .selected {
    color: rgb(180, 180, 180);
}

html.SHINE.res-nightmode.cleandark a#sr-more-link {
    background: rgb(24, 23, 29);
    border-left: 1px solid rgb(34, 33, 39);
}

html.SHINE.res-nightmode.cleandark div#sr-header-area a#sr-more-link:hover {
    color: rgb(255, 255, 255) !important;
    background: rgb(222, 142, 48) !important;
    text-decoration: none !important;
}

html.SHINE.res-nightmode.cleandark.shine-list.shine-list-classic .side-comments .shine-comment::after {
    background-color: transparent !important;
    color: rgb(123,124,129) !important;
    border: 1px solid rgb(73,74,79);
    transition: all 200ms ease;
    margin: 0px 5px 5px 10px;
}

html.SHINE.res-nightmode.cleandark.shine-list.shine-list-classic .side-comments .shine-comment:hover::after {
    border: 1px solid rgb(222, 142, 48);
    color: rgb(222, 142, 48) !important;
}

html.SHINE.res-nightmode.cleandark .side .titlebox form.flairtoggle, html.SHINE.res-nightmode.cleandark .trophy-area .content, html.SHINE.res-nightmode.cleandark .side .md ol, .res-nightmode.cleandark .side .md ul {
    background: transparent;
}