$themename: 'black';

$color_bg_darkest: rgb(0, 0, 0); 	//main-background
$color_bg_darker: rgb(0, 0, 0);		//list-background
$color_bg_dark: rgb(12, 12, 12);	//misc-background

$color_bg_flair: rgb(147, 147, 147);
$color_bg_flairborder: rgb(97, 97, 97);

$color_bg_textfield_border: rgba(255,255,255, .1);

$color_posttype: rgba(255,255,255, .8);
$color_posttype_bg: $color_bg_dark;

$color_row_bottom_border: $color_bg_textfield_border;


@import "base/dark";

@import "base/base";