html.SHINE.theme-brown.res-nightmode .flair, html.SHINE.theme-brown.res-nightmode .linkflairlabel {
  background: transparent;
  padding: 0 4px; }

html.SHINE.theme-brown.res-nightmode input[type="text"], html.SHINE.theme-brown.res-nightmode input[type="password"], html.SHINE.theme-brown.res-nightmode .c-form-control, html.SHINE.res-nightmode.theme-brown .submit textarea, html.SHINE.res-nightmode.theme-brown .submit #url, html.SHINE.res-nightmode.theme-brown .submit #sr-autocomplete, html.SHINE.res-nightmode.theme-brown .usertext-edit textarea, html.SHINE.res-nightmode.theme-brown .RESDialogSmall, html.SHINE.res-nightmode.theme-brown .c-close, html.SHINE.res-nightmode.theme-brown #REScommentNavBox, html.SHINE.res-nightmode.theme-brown #BigEditor #BigText, html.SHINE.res-nightmode.theme-brown #liveupdate-statusbar, html.SHINE.res-nightmode.theme-brown #liveupdate-statusbar.complete, html.SHINE.res-nightmode.theme-brown #newlink-with-image-upload .image-upload-drop-target {
  color: #ebeaea !important; }

html.SHINE.theme-brown.res-nightmode .sidebox, html.SHINE.theme-brown.res-nightmode .subredditbox, html.SHINE.theme-brown.res-nightmode .subreddit-info, html.SHINE.theme-brown.res-nightmode .raisedbox, html.SHINE.theme-brown.res-nightmode .login-form-side, html.SHINE.theme-brown.res-nightmode .morelink {
  color: rgba(255, 255, 255, 0.75) !important;
  border: 0; }

html.SHINE.theme-brown.res-nightmode.shine-list .shine-expand .side-comments button.save, html.SHINE.theme-brown.res-nightmode.shine-grid .shine-expand .side-comments button.save {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px; }

html.SHINE.theme-brown.res-nightmode.shine-list body > div.content div#siteTable > .thing {
  transition: all 200ms ease; }
  html.SHINE.theme-brown.res-nightmode.shine-list body > div.content div#siteTable > .thing .arrow.up::before,
  html.SHINE.theme-brown.res-nightmode.shine-list body > div.content div#siteTable > .thing .arrow.upmod::before,
  html.SHINE.theme-brown.res-nightmode.shine-list body > div.content div#siteTable > .thing .arrow.down::before,
  html.SHINE.theme-brown.res-nightmode.shine-list body > div.content div#siteTable > .thing .arrow.downmod::before {
    color: #999897; }
  html.SHINE.theme-brown.res-nightmode.shine-list body > div.content div#siteTable > .thing .score.unvoted {
    color: rgba(153, 152, 151, 0.5); }
html.SHINE.theme-brown.res-nightmode.shine-list body .domain a {
  color: rgba(255, 255, 255, 0.5); }
html.SHINE.theme-brown.res-nightmode.shine-list .shine-expand .toggle-child-comments {
  color: rgba(255, 255, 255, 0.75) !important; }
html.SHINE.theme-brown.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment::after {
  background-color: transparent !important;
  transition: all 200ms ease;
  margin: 0 5px 5px 10px; }
html.SHINE.theme-brown.res-nightmode body {
  background-color: transparent;
  border: 0; }
  html.SHINE.theme-brown.res-nightmode body .content {
    background-color: transparent;
    border: 0; }
html.SHINE.theme-brown.res-nightmode #header {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px !important; }
  html.SHINE.theme-brown.res-nightmode #header ul.tabmenu:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px !important; }
html.SHINE.theme-brown.res-nightmode div#header-bottom-left {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px !important; }
html.SHINE.theme-brown.res-nightmode div#sr-header-area {
  border-bottom: 0 solid rgba(255, 255, 255, 0.85) !important; }
  html.SHINE.theme-brown.res-nightmode div#sr-header-area a {
    color: rgba(255, 255, 255, 0.5) !important; }
    html.SHINE.theme-brown.res-nightmode div#sr-header-area a#sr-more-link:hover {
      color: white !important;
      text-decoration: none !important; }
html.SHINE.theme-brown.res-nightmode .md {
  color: #ebeaea !important; }
  html.SHINE.theme-brown.res-nightmode .md del {
    color: #ebeaea !important; }
  html.SHINE.theme-brown.res-nightmode .md blockquote {
    color: rgba(255, 255, 255, 0.75) !important;
    padding: 6px 8px;
    border-left: 0; }
html.SHINE.theme-brown.res-nightmode .tagline {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.theme-brown.res-nightmode #header-bottom-right a {
  color: #999897; }
html.SHINE.theme-brown.res-nightmode #header-bottom-right .user .userkarma {
  color: rgba(255, 255, 255, 0.75); }
html.SHINE.theme-brown.res-nightmode svg {
  fill: #ebeaea; }
html.SHINE.theme-brown.res-nightmode .arrow {
  opacity: 0.3; }
html.SHINE.theme-brown.res-nightmode textarea {
  color: #ebeaea !important; }
html.SHINE.theme-brown.res-nightmode .sidebox .spacer {
  margin-top: 0 !important; }
html.SHINE.theme-brown.res-nightmode .side {
  background-color: transparent;
  border: 0; }
  html.SHINE.theme-brown.res-nightmode .side .linkinfo {
    margin-top: 0 !important; }
  html.SHINE.theme-brown.res-nightmode .side .leavemoderator {
    background-color: transparent;
    border: 0; }
  html.SHINE.theme-brown.res-nightmode .side .leavecontributor-button {
    background-color: transparent;
    border: 0; }
  html.SHINE.theme-brown.res-nightmode .side .titlebox {
    background-color: transparent;
    border: 0; }
    html.SHINE.theme-brown.res-nightmode .side .titlebox .flairtoggle {
      background-color: transparent;
      border: 0; }
    html.SHINE.theme-brown.res-nightmode .side .titlebox form.flairtoggle {
      background: transparent; }
  html.SHINE.theme-brown.res-nightmode .side .spacer .title {
    margin-top: 20px; }
  html.SHINE.theme-brown.res-nightmode .side .spacer .titlebox .redditname {
    background-color: transparent;
    border: 0; }
  html.SHINE.theme-brown.res-nightmode .side .md ol {
    background: transparent; }
  html.SHINE.theme-brown.res-nightmode .side .md ul {
    background: transparent; }
  html.SHINE.theme-brown.res-nightmode .side .usertext-body .md ol {
    background-color: transparent;
    border: 0; }
    html.SHINE.theme-brown.res-nightmode .side .usertext-body .md ol ol {
      background-color: transparent;
      border: 0; }
      html.SHINE.theme-brown.res-nightmode .side .usertext-body .md ol ol li {
        background-color: transparent;
        border: 0; }
  html.SHINE.theme-brown.res-nightmode .side .recommend-box .rec-item {
    background-color: transparent;
    border: 0; }
html.SHINE.theme-brown.res-nightmode .nsfw-stamp {
  color: #bf4040; }
  html.SHINE.theme-brown.res-nightmode .nsfw-stamp acronym {
    color: #bf4040; }
html.SHINE.theme-brown.res-nightmode .RESCloseButton {
  border: 0; }
html.SHINE.theme-brown.res-nightmode .read-next {
  border: 0; }
html.SHINE.theme-brown.res-nightmode .drop-choices {
  border: 0; }
html.SHINE.theme-brown.res-nightmode .modal-body {
  background-color: transparent;
  border: 0; }
html.SHINE.theme-brown.res-nightmode .thing.comment .arrow.up::before,
html.SHINE.theme-brown.res-nightmode .thing.comment .arrow.upmod::before,
html.SHINE.theme-brown.res-nightmode .thing.comment .arrow.down::before,
html.SHINE.theme-brown.res-nightmode .thing.comment .arrow.downmod::before {
  color: #999897; }
html.SHINE.theme-brown.res-nightmode .thing .title {
  color: #ebeaea; }
  html.SHINE.theme-brown.res-nightmode .thing .title:visited {
    color: #999897 !important; }
html.SHINE.theme-brown.res-nightmode.show-sidebar .side {
  color: rgba(255, 255, 255, 0.75); }
  html.SHINE.theme-brown.res-nightmode.show-sidebar .side .md {
    color: #999897; }
  html.SHINE.theme-brown.res-nightmode.show-sidebar .side a.reddit-link-title {
    color: #999897; }
html.SHINE.theme-brown.res-nightmode .sidecontentbox .content {
  border: 0 !important;
  background: transparent !important; }
html.SHINE.theme-brown.res-nightmode .link .usertext-body .md {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0 solid #336699;
  border-radius: 0;
  padding: 10px 0; }
html.SHINE.theme-brown.res-nightmode .entry .buttons li a {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.theme-brown.res-nightmode .trending-subreddits strong {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.theme-brown.res-nightmode .message.new > .entry {
  border: 0; }
html.SHINE.theme-brown.res-nightmode .icon-menu a {
  background-color: transparent;
  border: 0; }
html.SHINE.theme-brown.res-nightmode .modactionlisting table * {
  background-color: transparent;
  border: 0; }
html.SHINE.theme-brown.res-nightmode .fancy-toggle-button a {
  color: white !important; }
html.SHINE.theme-brown.res-nightmode .dropdown.srdrop .selected {
  color: rgba(255, 255, 255, 0.75); }
html.SHINE.theme-brown.res-nightmode .trophy-area .content {
  background: transparent; }
html.SHINE.theme-brown.res-nightmode .tagline a.moderator {
  color: white !important; }
html.SHINE.theme-brown.res-nightmode .tagline a.submitter {
  color: white !important; }
html.SHINE.theme-brown.res-nightmode .tagline a.admin {
  color: white !important; }
html.SHINE.theme-brown.res-nightmode .usertext.grayed .usertext-body div p {
  color: #999897; }
html.SHINE.theme-brown.res-nightmode #header-bottom-right #mail, html.SHINE.theme-brown.res-nightmode #header-bottom-right #modmail, html.SHINE.theme-brown.res-nightmode #header-bottom-right #RESAccountSwitcherIcon {
  color: white; }
html.SHINE.theme-brown.res-nightmode .menuarea .dropdown.lightdrop .selected {
  color: white; }
html.SHINE.theme-brown.shine-grid body > .content #siteTable .thing {
  transition: all 200ms ease; }
html.SHINE.theme-brown #themeselect label.brown .foreground span {
  color: #ebeaea; }
html.SHINE.theme-brown.colorful .thumbnail.spoiler::before, html.SHINE.theme-brown.colorful .thumbnail.nsfw::before, html.SHINE.theme-brown.colorful .thumbnail.default::before, html.SHINE.theme-brown.colorful .thumbnail.image::before, html.SHINE.theme-brown.colorful .thumbnail.self::before {
  color: white !important; }

html.SHINE.theme-brown.res-nightmode .flair, html.SHINE.theme-brown.res-nightmode .linkflairlabel {
  color: #a6a4a2;
  border: 1px solid #827f7d; }

html.SHINE.theme-brown.res-nightmode input[type="text"], html.SHINE.theme-brown.res-nightmode input[type="password"], html.SHINE.theme-brown.res-nightmode .c-form-control, html.SHINE.res-nightmode.theme-brown .submit textarea, html.SHINE.res-nightmode.theme-brown .submit #url, html.SHINE.res-nightmode.theme-brown .submit #sr-autocomplete, html.SHINE.res-nightmode.theme-brown .usertext-edit textarea, html.SHINE.res-nightmode.theme-brown .RESDialogSmall, html.SHINE.res-nightmode.theme-brown .c-close, html.SHINE.res-nightmode.theme-brown #REScommentNavBox, html.SHINE.res-nightmode.theme-brown #BigEditor #BigText, html.SHINE.res-nightmode.theme-brown #liveupdate-statusbar, html.SHINE.res-nightmode.theme-brown #liveupdate-statusbar.complete, html.SHINE.res-nightmode.theme-brown #newlink-with-image-upload .image-upload-drop-target {
  background-color: #232120 !important;
  border-color: #56514e !important; }

html.SHINE.theme-brown.res-nightmode .sidebox, html.SHINE.theme-brown.res-nightmode .subredditbox, html.SHINE.theme-brown.res-nightmode .subreddit-info, html.SHINE.theme-brown.res-nightmode .raisedbox, html.SHINE.theme-brown.res-nightmode .login-form-side, html.SHINE.theme-brown.res-nightmode .morelink {
  background: #4d4845 !important; }

html.SHINE.res-nightmode.theme-brown {
  background-color: #232120 !important; }
  html.SHINE.res-nightmode.theme-brown.shine-list body {
    background: #232120 !important; }
    html.SHINE.res-nightmode.theme-brown.shine-list body > div.content div#siteTable > .thing {
      background: #33302e !important;
      border-bottom: 1px solid #232120 !important;
      border-left: 5px solid #33302e !important;
      border-top: 0 !important;
      border-right: 0 !important; }
      html.SHINE.res-nightmode.theme-brown.shine-list body > div.content div#siteTable > .thing:hover {
        background: #4d4845 !important;
        border-left: 5px solid #4d4845 !important; }
      html.SHINE.res-nightmode.theme-brown.shine-list body > div.content div#siteTable > .thing.link > .child {
        color: #fff; }
    html.SHINE.res-nightmode.theme-brown.shine-list body > div.content .side-comments div#siteTable > .thing {
      background: transparent !important;
      border: 0 !important; }
      html.SHINE.res-nightmode.theme-brown.shine-list body > div.content .side-comments div#siteTable > .thing:hover {
        background: transparent !important;
        border: 0 !important; }
  html.SHINE.res-nightmode.theme-brown.shine-list .shine-expand {
    background: #33302e !important;
    border-bottom: 1px solid #4d4845; }
    html.SHINE.res-nightmode.theme-brown.shine-list .shine-expand .toggle-child-comments {
      background: #4d4845 !important; }
  html.SHINE.res-nightmode.theme-brown.shine-list .side-comments {
    background: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown.shine-list.shine-list-classic .side-comments .shine-comment::after {
    color: #a6a4a2 !important;
    border: 1px solid #827f7d; }
  html.SHINE.res-nightmode.theme-brown body {
    background: #232120 !important; }
    html.SHINE.res-nightmode.theme-brown body > .content {
      background: #232120 !important; }
    html.SHINE.res-nightmode.theme-brown body .roundfield {
      background-color: #4d4845; }
    html.SHINE.res-nightmode.theme-brown body.submit .roundfield {
      background-color: #4d4845; }
    html.SHINE.res-nightmode.theme-brown body.with-listing-chooser .listing-chooser {
      background-color: #232120; }
      html.SHINE.res-nightmode.theme-brown body.with-listing-chooser .listing-chooser li a {
        border-color: #4d4845; }
      html.SHINE.res-nightmode.theme-brown body.with-listing-chooser .listing-chooser .intro {
        background-color: #33302e;
        padding: 8px; }
  html.SHINE.res-nightmode.theme-brown #header {
    background: #33302e !important; }
    html.SHINE.res-nightmode.theme-brown #header ul.tabmenu {
      background: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown div#header-bottom-left {
    background: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown div#sr-header-area {
    background: #33302e !important;
    background: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown .md blockquote {
    background: #4d4845 !important; }
  html.SHINE.res-nightmode.theme-brown a#sr-more-link {
    background: #232120;
    border-left: 1px solid #33302e; }
  html.SHINE.res-nightmode.theme-brown .comment .child {
    border-left: 1px solid #56514e; }
  html.SHINE.res-nightmode.theme-brown .comment .showreplies {
    border-left: 1px solid #56514e; }
  html.SHINE.res-nightmode.theme-brown textarea {
    background-color: #232120 !important;
    border-color: #56514e !important; }
  html.SHINE.res-nightmode.theme-brown .sidebox .spacer {
    background: rgba(35, 33, 32, 0.3) !important; }
  html.SHINE.res-nightmode.theme-brown .side .linkinfo {
    background: rgba(35, 33, 32, 0.3) !important; }
  html.SHINE.res-nightmode.theme-brown .RESCloseButton {
    background-color: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown .read-next {
    background-color: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown .drop-choices {
    background-color: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown.show-sidebar .side {
    background: #33302e; }
  html.SHINE.res-nightmode.theme-brown.shine-default .panestack-title {
    border-bottom: 1px solid #33302e; }
  html.SHINE.res-nightmode.theme-brown .message.new > .entry {
    background-color: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown.shine-grid body > .content #siteTable .thing {
    background: #33302e !important; }
    html.SHINE.res-nightmode.theme-brown.shine-grid body > .content #siteTable .thing:hover {
      background: #4d4845 !important; }
    html.SHINE.res-nightmode.theme-brown.shine-grid body > .content #siteTable .thing .entry ul.flat-list {
      border-top: 1px solid #232120; }
  html.SHINE.res-nightmode.theme-brown.shine-grid .shine-expand .side-comments {
    background: #33302e !important; }
  html.SHINE.res-nightmode.theme-brown.shine-grid .shine-expand .toggle-child-comments {
    background: #4d4845 !important; }
  html.SHINE.res-nightmode.theme-brown .infobar:not(.newsletterbar) {
    background-color: #4d4845;
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(130, 127, 125, 0.5); }
  html.SHINE.res-nightmode.theme-brown #progressIndicator {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(51, 48, 46, 0.7);
    border-color: rgba(51, 48, 46, 0.4); }
  html.SHINE.res-nightmode.theme-brown .usertext.grayed .usertext-body {
    background-color: #232120; }
  html.SHINE.res-nightmode.theme-brown .usertext.border .usertext-body {
    background-color: #4d4845; }
  html.SHINE.res-nightmode.theme-brown .thumbnail.spoiler::before, html.SHINE.res-nightmode.theme-brown .thumbnail.nsfw::before, html.SHINE.res-nightmode.theme-brown .thumbnail.default::before, html.SHINE.res-nightmode.theme-brown .thumbnail.image::before, html.SHINE.res-nightmode.theme-brown .thumbnail.self::before {
    color: rgba(255, 255, 255, 0.7);
    background-color: #56514e; }
  html.SHINE.res-nightmode.theme-brown #header-bottom-left #header-img-a, html.SHINE.res-nightmode.theme-brown #header-bottom-left #header-img.default-header {
    color: white !important; }
  html.SHINE.res-nightmode.theme-brown .archived-infobar {
    background-color: #33302e;
    border-color: #4d4845; }
html.SHINE #themeselect label.brown .foreground {
  background-color: #33302e; }
  html.SHINE #themeselect label.brown .foreground .background {
    background-color: #232120; }
  html.SHINE #themeselect label.brown .foreground .secondary {
    background-color: #4d4845; }
