html.SHINE.theme-material.res-nightmode .flair, html.SHINE.theme-material.res-nightmode .linkflairlabel {
  background: transparent;
  padding: 0 4px; }

html.SHINE.theme-material.res-nightmode input[type="text"], html.SHINE.theme-material.res-nightmode input[type="password"], html.SHINE.theme-material.res-nightmode .c-form-control, html.SHINE.theme-material.res-nightmode .submit textarea, html.SHINE.theme-material.res-nightmode .submit #url, html.SHINE.theme-material.res-nightmode .submit #sr-autocomplete, html.SHINE.theme-material.res-nightmode .usertext-edit textarea, html.SHINE.theme-material.res-nightmode .RESDialogSmall, html.SHINE.theme-material.res-nightmode .c-close, html.SHINE.theme-material.res-nightmode #REScommentNavBox, html.SHINE.theme-material.res-nightmode #BigEditor #BigText, html.SHINE.theme-material.res-nightmode #liveupdate-statusbar, html.SHINE.theme-material.res-nightmode #liveupdate-statusbar.complete, html.SHINE.theme-material.res-nightmode #newlink-with-image-upload .image-upload-drop-target {
  color: #e9ebeb !important; }

html.SHINE.theme-material.res-nightmode .sidebox, html.SHINE.theme-material.res-nightmode .subredditbox, html.SHINE.theme-material.res-nightmode .subreddit-info, html.SHINE.theme-material.res-nightmode .raisedbox, html.SHINE.theme-material.res-nightmode .login-form-side, html.SHINE.theme-material.res-nightmode .morelink {
  color: rgba(255, 255, 255, 0.75) !important;
  border: 0; }

html.SHINE.theme-material.res-nightmode.shine-list .shine-expand .side-comments button.save, html.SHINE.theme-material.res-nightmode.shine-grid .shine-expand .side-comments button.save {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px; }

html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing {
  transition: all 200ms ease; }
  html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing .arrow.up::before,
  html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing .arrow.upmod::before,
  html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing .arrow.down::before,
  html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing .arrow.downmod::before {
    color: #93999c; }
  html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing .score.unvoted {
    color: rgba(147, 153, 156, 0.5); }
html.SHINE.theme-material.res-nightmode.shine-list body .domain a {
  color: rgba(255, 255, 255, 0.5); }
html.SHINE.theme-material.res-nightmode.shine-list .shine-expand .toggle-child-comments {
  color: rgba(255, 255, 255, 0.75) !important; }
html.SHINE.theme-material.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment::after {
  background-color: transparent !important;
  transition: all 200ms ease;
  margin: 0 5px 5px 10px; }
html.SHINE.theme-material.res-nightmode body {
  background-color: transparent;
  border: 0; }
  html.SHINE.theme-material.res-nightmode body .content {
    background-color: transparent;
    border: 0; }
html.SHINE.theme-material.res-nightmode #header {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px !important; }
  html.SHINE.theme-material.res-nightmode #header ul.tabmenu:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px !important; }
html.SHINE.theme-material.res-nightmode div#header-bottom-left {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px !important; }
html.SHINE.theme-material.res-nightmode div#sr-header-area {
  border-bottom: 0 solid rgba(255, 255, 255, 0.85) !important; }
  html.SHINE.theme-material.res-nightmode div#sr-header-area a {
    color: rgba(255, 255, 255, 0.5) !important; }
    html.SHINE.theme-material.res-nightmode div#sr-header-area a#sr-more-link:hover {
      color: white !important;
      text-decoration: none !important; }
html.SHINE.theme-material.res-nightmode .md {
  color: #e9ebeb !important; }
  html.SHINE.theme-material.res-nightmode .md del {
    color: #e9ebeb !important; }
  html.SHINE.theme-material.res-nightmode .md blockquote {
    color: rgba(255, 255, 255, 0.75) !important;
    padding: 6px 8px;
    border-left: 0; }
html.SHINE.theme-material.res-nightmode .tagline {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.theme-material.res-nightmode #header-bottom-right a {
  color: #93999c; }
html.SHINE.theme-material.res-nightmode #header-bottom-right .user .userkarma {
  color: rgba(255, 255, 255, 0.75); }
html.SHINE.theme-material.res-nightmode svg {
  fill: #e9ebeb; }
html.SHINE.theme-material.res-nightmode .arrow {
  opacity: 0.3; }
html.SHINE.theme-material.res-nightmode textarea {
  color: #e9ebeb !important; }
html.SHINE.theme-material.res-nightmode .sidebox .spacer {
  margin-top: 0 !important; }
html.SHINE.theme-material.res-nightmode .side {
  background-color: transparent;
  border: 0; }
  html.SHINE.theme-material.res-nightmode .side .linkinfo {
    margin-top: 0 !important; }
  html.SHINE.theme-material.res-nightmode .side .leavemoderator {
    background-color: transparent;
    border: 0; }
  html.SHINE.theme-material.res-nightmode .side .leavecontributor-button {
    background-color: transparent;
    border: 0; }
  html.SHINE.theme-material.res-nightmode .side .titlebox {
    background-color: transparent;
    border: 0; }
    html.SHINE.theme-material.res-nightmode .side .titlebox .flairtoggle {
      background-color: transparent;
      border: 0; }
    html.SHINE.theme-material.res-nightmode .side .titlebox form.flairtoggle {
      background: transparent; }
  html.SHINE.theme-material.res-nightmode .side .spacer .title {
    margin-top: 20px; }
  html.SHINE.theme-material.res-nightmode .side .spacer .titlebox .redditname {
    background-color: transparent;
    border: 0; }
  html.SHINE.theme-material.res-nightmode .side .md ol {
    background: transparent; }
  html.SHINE.theme-material.res-nightmode .side .md ul {
    background: transparent; }
  html.SHINE.theme-material.res-nightmode .side .usertext-body .md ol {
    background-color: transparent;
    border: 0; }
    html.SHINE.theme-material.res-nightmode .side .usertext-body .md ol ol {
      background-color: transparent;
      border: 0; }
      html.SHINE.theme-material.res-nightmode .side .usertext-body .md ol ol li {
        background-color: transparent;
        border: 0; }
  html.SHINE.theme-material.res-nightmode .side .recommend-box .rec-item {
    background-color: transparent;
    border: 0; }
html.SHINE.theme-material.res-nightmode .nsfw-stamp {
  color: #bf4040; }
  html.SHINE.theme-material.res-nightmode .nsfw-stamp acronym {
    color: #bf4040; }
html.SHINE.theme-material.res-nightmode .RESCloseButton {
  border: 0; }
html.SHINE.theme-material.res-nightmode .read-next {
  border: 0; }
html.SHINE.theme-material.res-nightmode .drop-choices {
  border: 0; }
html.SHINE.theme-material.res-nightmode .modal-body {
  background-color: transparent;
  border: 0; }
html.SHINE.theme-material.res-nightmode .thing.comment .arrow.up::before,
html.SHINE.theme-material.res-nightmode .thing.comment .arrow.upmod::before,
html.SHINE.theme-material.res-nightmode .thing.comment .arrow.down::before,
html.SHINE.theme-material.res-nightmode .thing.comment .arrow.downmod::before {
  color: #93999c; }
html.SHINE.theme-material.res-nightmode .thing .title {
  color: #e9ebeb; }
  html.SHINE.theme-material.res-nightmode .thing .title:visited {
    color: #93999c !important; }
html.SHINE.theme-material.res-nightmode.show-sidebar .side {
  color: rgba(255, 255, 255, 0.75); }
  html.SHINE.theme-material.res-nightmode.show-sidebar .side .md {
    color: #93999c; }
  html.SHINE.theme-material.res-nightmode.show-sidebar .side a.reddit-link-title {
    color: #93999c; }
html.SHINE.theme-material.res-nightmode .sidecontentbox .content {
  border: 0 !important;
  background: transparent !important; }
html.SHINE.theme-material.res-nightmode .link .usertext-body .md {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0 solid #336699;
  border-radius: 0;
  padding: 10px 0; }
html.SHINE.theme-material.res-nightmode .entry .buttons li a {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.theme-material.res-nightmode .trending-subreddits strong {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.theme-material.res-nightmode .message.new > .entry {
  border: 0; }
html.SHINE.theme-material.res-nightmode .icon-menu a {
  background-color: transparent;
  border: 0; }
html.SHINE.theme-material.res-nightmode .modactionlisting table * {
  background-color: transparent;
  border: 0; }
html.SHINE.theme-material.res-nightmode .fancy-toggle-button a {
  color: white !important; }
html.SHINE.theme-material.res-nightmode .dropdown.srdrop .selected {
  color: rgba(255, 255, 255, 0.75); }
html.SHINE.theme-material.res-nightmode .trophy-area .content {
  background: transparent; }
html.SHINE.theme-material.res-nightmode .tagline a.moderator {
  color: white !important; }
html.SHINE.theme-material.res-nightmode .tagline a.submitter {
  color: white !important; }
html.SHINE.theme-material.res-nightmode .tagline a.admin {
  color: white !important; }
html.SHINE.theme-material.res-nightmode .usertext.grayed .usertext-body div p {
  color: #93999c; }
html.SHINE.theme-material.res-nightmode #header-bottom-right #mail, html.SHINE.theme-material.res-nightmode #header-bottom-right #modmail, html.SHINE.theme-material.res-nightmode #header-bottom-right #RESAccountSwitcherIcon {
  color: white; }
html.SHINE.theme-material.res-nightmode .menuarea .dropdown.lightdrop .selected {
  color: white; }
html.SHINE.theme-material.shine-grid body > .content #siteTable .thing {
  transition: all 200ms ease; }
html.SHINE.theme-material #themeselect label.material .foreground span {
  color: #e9ebeb; }
html.SHINE.theme-material.colorful .thumbnail.spoiler::before, html.SHINE.theme-material.colorful .thumbnail.nsfw::before, html.SHINE.theme-material.colorful .thumbnail.default::before, html.SHINE.theme-material.colorful .thumbnail.image::before, html.SHINE.theme-material.colorful .thumbnail.self::before {
  color: white !important; }

html.SHINE.theme-material.res-nightmode .flair, html.SHINE.theme-material.res-nightmode .linkflairlabel {
  color: #adaeb3;
  border: 1px solid #85868b; }

html.SHINE.theme-material.res-nightmode input[type="text"], html.SHINE.theme-material.res-nightmode input[type="password"], html.SHINE.theme-material.res-nightmode .c-form-control, html.SHINE.theme-material.res-nightmode .submit textarea, html.SHINE.theme-material.res-nightmode .submit #url, html.SHINE.theme-material.res-nightmode .submit #sr-autocomplete, html.SHINE.theme-material.res-nightmode .usertext-edit textarea, html.SHINE.theme-material.res-nightmode .RESDialogSmall, html.SHINE.theme-material.res-nightmode .c-close, html.SHINE.theme-material.res-nightmode #REScommentNavBox, html.SHINE.theme-material.res-nightmode #BigEditor #BigText, html.SHINE.theme-material.res-nightmode #liveupdate-statusbar, html.SHINE.theme-material.res-nightmode #liveupdate-statusbar.complete, html.SHINE.theme-material.res-nightmode #newlink-with-image-upload .image-upload-drop-target {
  background-color: #1e282d !important;
  border-color: rgba(255, 255, 255, 0.1) !important; }

html.SHINE.theme-material.res-nightmode .sidebox, html.SHINE.theme-material.res-nightmode .subredditbox, html.SHINE.theme-material.res-nightmode .subreddit-info, html.SHINE.theme-material.res-nightmode .raisedbox, html.SHINE.theme-material.res-nightmode .login-form-side, html.SHINE.theme-material.res-nightmode .morelink {
  background: #2e3c43 !important; }

html.SHINE.theme-material.res-nightmode {
  background-color: #1e282d !important; }
  html.SHINE.theme-material.res-nightmode.shine-list body {
    background: #1e282d !important; }
    html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing {
      background: #263238 !important;
      border-bottom: 1px solid #1e282d !important;
      border-left: 5px solid #263238 !important;
      border-top: 0 !important;
      border-right: 0 !important; }
      html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing:hover {
        background: #2e3c43 !important;
        border-left: 5px solid #2e3c43 !important; }
      html.SHINE.theme-material.res-nightmode.shine-list body > div.content div#siteTable > .thing.link > .child {
        color: #fff; }
    html.SHINE.theme-material.res-nightmode.shine-list body > div.content .side-comments div#siteTable > .thing {
      background: transparent !important;
      border: 0 !important; }
      html.SHINE.theme-material.res-nightmode.shine-list body > div.content .side-comments div#siteTable > .thing:hover {
        background: transparent !important;
        border: 0 !important; }
  html.SHINE.theme-material.res-nightmode.shine-list .shine-expand {
    background: #263238 !important;
    border-bottom: 1px solid #2e3c43; }
    html.SHINE.theme-material.res-nightmode.shine-list .shine-expand .toggle-child-comments {
      background: #2e3c43 !important; }
  html.SHINE.theme-material.res-nightmode.shine-list .side-comments {
    background: #263238 !important; }
  html.SHINE.theme-material.res-nightmode.shine-list.shine-list-classic .side-comments .shine-comment::after {
    color: #adaeb3 !important;
    border: 1px solid #85868b; }
  html.SHINE.theme-material.res-nightmode body {
    background: #1e282d !important; }
    html.SHINE.theme-material.res-nightmode body > .content {
      background: #1e282d !important; }
    html.SHINE.theme-material.res-nightmode body .roundfield {
      background-color: #2e3c43; }
    html.SHINE.theme-material.res-nightmode body.submit .roundfield {
      background-color: #2e3c43; }
    html.SHINE.theme-material.res-nightmode body.with-listing-chooser .listing-chooser {
      background-color: #1e282d; }
      html.SHINE.theme-material.res-nightmode body.with-listing-chooser .listing-chooser li a {
        border-color: #2e3c43; }
      html.SHINE.theme-material.res-nightmode body.with-listing-chooser .listing-chooser .intro {
        background-color: #263238;
        padding: 8px; }
  html.SHINE.theme-material.res-nightmode #header {
    background: #263238 !important; }
    html.SHINE.theme-material.res-nightmode #header ul.tabmenu {
      background: #263238 !important; }
  html.SHINE.theme-material.res-nightmode div#header-bottom-left {
    background: #263238 !important; }
  html.SHINE.theme-material.res-nightmode div#sr-header-area {
    background: #263238 !important;
    background: #263238 !important; }
  html.SHINE.theme-material.res-nightmode .md blockquote {
    background: #2e3c43 !important; }
  html.SHINE.theme-material.res-nightmode a#sr-more-link {
    background: #1e282d;
    border-left: 1px solid #263238; }
  html.SHINE.theme-material.res-nightmode .comment .child {
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
  html.SHINE.theme-material.res-nightmode .comment .showreplies {
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
  html.SHINE.theme-material.res-nightmode textarea {
    background-color: #1e282d !important;
    border-color: rgba(255, 255, 255, 0.1) !important; }
  html.SHINE.theme-material.res-nightmode .sidebox .spacer {
    background: rgba(30, 40, 45, 0.3) !important; }
  html.SHINE.theme-material.res-nightmode .side .linkinfo {
    background: rgba(30, 40, 45, 0.3) !important; }
  html.SHINE.theme-material.res-nightmode .RESCloseButton {
    background-color: #263238 !important; }
  html.SHINE.theme-material.res-nightmode .read-next {
    background-color: #263238 !important; }
  html.SHINE.theme-material.res-nightmode .drop-choices {
    background-color: #263238 !important; }
  html.SHINE.theme-material.res-nightmode.show-sidebar .side {
    background: #263238; }
  html.SHINE.theme-material.res-nightmode.shine-default .panestack-title {
    border-bottom: 1px solid #263238; }
  html.SHINE.theme-material.res-nightmode .message.new > .entry {
    background-color: #263238 !important; }
  html.SHINE.theme-material.res-nightmode.shine-grid body > .content #siteTable .thing {
    background: #263238 !important; }
    html.SHINE.theme-material.res-nightmode.shine-grid body > .content #siteTable .thing:hover {
      background: #2e3c43 !important; }
    html.SHINE.theme-material.res-nightmode.shine-grid body > .content #siteTable .thing .entry ul.flat-list {
      border-top: 1px solid #1e282d; }
  html.SHINE.theme-material.res-nightmode.shine-grid .shine-expand .side-comments {
    background: #263238 !important; }
  html.SHINE.theme-material.res-nightmode.shine-grid .shine-expand .toggle-child-comments {
    background: #2e3c43 !important; }
  html.SHINE.theme-material.res-nightmode .infobar:not(.newsletterbar) {
    background-color: #2e3c43;
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(133, 134, 139, 0.5); }
  html.SHINE.theme-material.res-nightmode #progressIndicator {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(38, 50, 56, 0.7);
    border-color: rgba(38, 50, 56, 0.4); }
  html.SHINE.theme-material.res-nightmode .usertext.grayed .usertext-body {
    background-color: #1e282d; }
  html.SHINE.theme-material.res-nightmode .usertext.border .usertext-body {
    background-color: #2e3c43; }
  html.SHINE.theme-material.res-nightmode .thumbnail.spoiler::before, html.SHINE.theme-material.res-nightmode .thumbnail.nsfw::before, html.SHINE.theme-material.res-nightmode .thumbnail.default::before, html.SHINE.theme-material.res-nightmode .thumbnail.image::before, html.SHINE.theme-material.res-nightmode .thumbnail.self::before {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1); }
  html.SHINE.theme-material.res-nightmode #header-bottom-left #header-img-a, html.SHINE.theme-material.res-nightmode #header-bottom-left #header-img.default-header {
    color: white !important; }
  html.SHINE.theme-material.res-nightmode .archived-infobar {
    background-color: #263238;
    border-color: #2e3c43; }
html.SHINE #themeselect label.material .foreground {
  background-color: #263238; }
  html.SHINE #themeselect label.material .foreground .background {
    background-color: #1e282d; }
  html.SHINE #themeselect label.material .foreground .secondary {
    background-color: #2e3c43; }

html.SHINE.theme-material.modern-layout.shine-list.shine-list-classic body > div.content {
  padding: 20px 0 0 0 !important; }
  html.SHINE.theme-material.modern-layout.shine-list.shine-list-classic body > div.content div#siteTable.linklisting {
    width: 50% !important;
    margin-left: 0px !important; }
html.SHINE.theme-material.modern-layout.shine-list.shine-list-classic .shine-expand {
  left: calc(50% - 1px) !important;
  width: calc(50% - 1px) !important;
  box-shadow: #f0f0f0 -1px 0px 0px !important;
  top: 45px !important;
  height: calc(100% - 45px) !important; }
html.SHINE.theme-material.modern-layout.shine-list.shine-list-classic #header .layout-switch {
  left: calc(50% - 45px); }
html.SHINE.theme-material.modern-layout.shine-list.shine-list-classic.show-shortcuts .shine-expand {
  top: 65px !important;
  height: calc(100% - 65px) !important; }
html.SHINE.theme-material.modern-layout.shine-list.shine-list-classic.show-sidebar .shine-expand {
  left: calc(50% - 180px) !important;
  width: calc(50% - 180px) !important; }
html.SHINE.theme-material.modern-layout.shine-list body > div.content div#siteTable > .thing a.thumbnail {
  order: 2;
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin: 0 15px 0 5px;
  overflow: hidden;
  border-radius: 2px; }
  html.SHINE.theme-material.modern-layout.shine-list body > div.content div#siteTable > .thing a.thumbnail img {
    object-fit: cover;
    width: 60px;
    height: 60px; }
html.SHINE.theme-material.modern-layout.shine-list body > div.content div#siteTable > .thing .midcol {
  order: 1; }
html.SHINE.theme-material.modern-layout.shine-list body > div.content div#siteTable .thumbnail.spoiler::before, html.SHINE.theme-material.modern-layout.shine-list body > div.content div#siteTable .thumbnail.nsfw::before, html.SHINE.theme-material.modern-layout.shine-list body > div.content div#siteTable .thumbnail.default::before, html.SHINE.theme-material.modern-layout.shine-list body > div.content div#siteTable .thumbnail.image::before, html.SHINE.theme-material.modern-layout.shine-list body > div.content div#siteTable .thumbnail.self::before {
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  font: 24px/60px "Material Design Icons";
  border-radius: 4px; }
html.SHINE.theme-material.modern-layout.shine-list body .thing.comment .likes .arrow.upmod, html.SHINE.theme-material.modern-layout.shine-list body .thing.comment .likes .arrow.up {
  opacity: 1; }
html.SHINE.theme-material.modern-layout.shine-list body .thing.comment .dislikes .arrow.downmod, html.SHINE.theme-material.modern-layout.shine-list body .thing.comment .dislikes .arrow.down {
  opacity: 1; }
html.SHINE.theme-material.modern-layout .flair, html.SHINE.theme-material.modern-layout .linkflairlabel {
  color: #999;
  background-color: #eee !important;
  border: none !important; }
html.SHINE .rank {
  display: none !important; }
