html.SHINE.res-nightmode.theme-dark .flair, html.SHINE.res-nightmode.theme-dark .linkflairlabel {
  background: transparent;
  padding: 0 4px; }

html.SHINE.res-nightmode.theme-dark input[type="text"], html.SHINE.res-nightmode.theme-dark input[type="password"], html.SHINE.res-nightmode.theme-dark .c-form-control {
  color: #e7e7e7 !important; }

html.SHINE.res-nightmode.theme-dark .sidebox, html.SHINE.res-nightmode.theme-dark .subredditbox, html.SHINE.res-nightmode.theme-dark .subreddit-info, html.SHINE.res-nightmode.theme-dark .raisedbox, html.SHINE.res-nightmode.theme-dark .login-form-side, html.SHINE.res-nightmode.theme-dark .morelink {
  color: rgba(255, 255, 255, 0.75) !important;
  border: 0; }

html.SHINE.res-nightmode.theme-dark.shine-list .shine-expand .side-comments button.save, html.SHINE.res-nightmode.theme-dark.shine-grid .shine-expand .side-comments button.save {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px; }

html.SHINE.res-nightmode.theme-dark.shine-list body > div.content div#siteTable > .thing {
  transition: all 200ms ease; }
html.SHINE.res-nightmode.theme-dark.shine-list .shine-expand .toggle-child-comments {
  color: rgba(255, 255, 255, 0.75) !important; }
html.SHINE.res-nightmode.theme-dark.shine-list.shine-list-classic .side-comments .shine-comment::after {
  background-color: transparent !important;
  transition: all 200ms ease;
  margin: 0 5px 5px 10px; }
html.SHINE.res-nightmode.theme-dark body {
  background-color: transparent;
  border: 0; }
  html.SHINE.res-nightmode.theme-dark body .content {
    background-color: transparent;
    border: 0; }
html.SHINE.res-nightmode.theme-dark #header {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px !important; }
  html.SHINE.res-nightmode.theme-dark #header ul.tabmenu:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px !important; }
html.SHINE.res-nightmode.theme-dark div#header-bottom-left {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px !important; }
html.SHINE.res-nightmode.theme-dark div#sr-header-area {
  border-bottom: 0 solid rgba(255, 255, 255, 0.85) !important; }
  html.SHINE.res-nightmode.theme-dark div#sr-header-area a {
    color: rgba(255, 255, 255, 0.5) !important; }
    html.SHINE.res-nightmode.theme-dark div#sr-header-area a#sr-more-link:hover {
      color: white !important;
      text-decoration: none !important; }
html.SHINE.res-nightmode.theme-dark .md {
  color: #e7e7e7 !important; }
  html.SHINE.res-nightmode.theme-dark .md del {
    color: #e7e7e7 !important; }
  html.SHINE.res-nightmode.theme-dark .md blockquote {
    color: rgba(255, 255, 255, 0.75) !important;
    padding: 6px 8px;
    border-left: 0; }
html.SHINE.res-nightmode.theme-dark .tagline {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.res-nightmode.theme-dark #header-bottom-right a {
  color: #868686; }
html.SHINE.res-nightmode.theme-dark #header-bottom-right .user .userkarma {
  color: rgba(255, 255, 255, 0.75); }
html.SHINE.res-nightmode.theme-dark svg {
  fill: #e7e7e7; }
html.SHINE.res-nightmode.theme-dark .arrow {
  opacity: 0.3; }
html.SHINE.res-nightmode.theme-dark textarea {
  color: #e7e7e7 !important; }
html.SHINE.res-nightmode.theme-dark .sidebox .spacer {
  margin-top: 0 !important; }
html.SHINE.res-nightmode.theme-dark .side {
  background-color: transparent;
  border: 0; }
  html.SHINE.res-nightmode.theme-dark .side .linkinfo {
    margin-top: 0 !important; }
  html.SHINE.res-nightmode.theme-dark .side .leavemoderator {
    background-color: transparent;
    border: 0; }
  html.SHINE.res-nightmode.theme-dark .side .leavecontributor-button {
    background-color: transparent;
    border: 0; }
  html.SHINE.res-nightmode.theme-dark .side .titlebox {
    background-color: transparent;
    border: 0; }
    html.SHINE.res-nightmode.theme-dark .side .titlebox .flairtoggle {
      background-color: transparent;
      border: 0; }
    html.SHINE.res-nightmode.theme-dark .side .titlebox form.flairtoggle {
      background: transparent; }
  html.SHINE.res-nightmode.theme-dark .side .spacer .title {
    margin-top: 20px; }
  html.SHINE.res-nightmode.theme-dark .side .spacer .titlebox .redditname {
    background-color: transparent;
    border: 0; }
  html.SHINE.res-nightmode.theme-dark .side .md ol {
    background: transparent; }
  html.SHINE.res-nightmode.theme-dark .side .md ul {
    background: transparent; }
  html.SHINE.res-nightmode.theme-dark .side .usertext-body .md ol {
    background-color: transparent;
    border: 0; }
    html.SHINE.res-nightmode.theme-dark .side .usertext-body .md ol ol {
      background-color: transparent;
      border: 0; }
      html.SHINE.res-nightmode.theme-dark .side .usertext-body .md ol ol li {
        background-color: transparent;
        border: 0; }
  html.SHINE.res-nightmode.theme-dark .side .recommend-box .rec-item {
    background-color: transparent;
    border: 0; }
html.SHINE.res-nightmode.theme-dark .nsfw-stamp {
  color: #bf4040; }
  html.SHINE.res-nightmode.theme-dark .nsfw-stamp acronym {
    color: #bf4040; }
html.SHINE.res-nightmode.theme-dark .RESCloseButton {
  border: 0; }
html.SHINE.res-nightmode.theme-dark .read-next {
  border: 0; }
html.SHINE.res-nightmode.theme-dark .drop-choices {
  border: 0; }
html.SHINE.res-nightmode.theme-dark .modal-body {
  background-color: transparent;
  border: 0; }
html.SHINE.res-nightmode.theme-dark .thing .title {
  color: #e7e7e7; }
  html.SHINE.res-nightmode.theme-dark .thing .title:visited {
    color: #868686 !important; }
html.SHINE.res-nightmode.theme-dark.show-sidebar .side {
  color: rgba(255, 255, 255, 0.75); }
  html.SHINE.res-nightmode.theme-dark.show-sidebar .side .md {
    color: #868686; }
  html.SHINE.res-nightmode.theme-dark.show-sidebar .side a.reddit-link-title {
    color: #868686; }
html.SHINE.res-nightmode.theme-dark .sidecontentbox .content {
  border: 0 !important;
  background: transparent !important; }
html.SHINE.res-nightmode.theme-dark .link .usertext-body .md {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0 solid #336699;
  border-radius: 0;
  padding: 10px 0; }
html.SHINE.res-nightmode.theme-dark .entry .buttons li a {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.res-nightmode.theme-dark .trending-subreddits strong {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.res-nightmode.theme-dark .message.new > .entry {
  border: 0; }
html.SHINE.res-nightmode.theme-dark .icon-menu a {
  background-color: transparent;
  border: 0; }
html.SHINE.res-nightmode.theme-dark .modactionlisting table * {
  background-color: transparent;
  border: 0; }
html.SHINE.res-nightmode.theme-dark .fancy-toggle-button a {
  color: white !important; }
html.SHINE.res-nightmode.theme-dark .dropdown.srdrop .selected {
  color: rgba(255, 255, 255, 0.75); }
html.SHINE.res-nightmode.theme-dark .trophy-area .content {
  background: transparent; }
html.SHINE.res-nightmode.theme-dark .tagline a.moderator {
  color: white !important; }
html.SHINE.res-nightmode.theme-dark .tagline a.submitter {
  color: white !important; }
html.SHINE.res-nightmode.theme-dark .tagline a.admin {
  color: white !important; }
html.SHINE.res-nightmode.theme-dark .usertext.grayed .usertext-body div p {
  color: #868686; }
html.SHINE.shine-grid body > .content #siteTable .thing {
  transition: all 200ms ease; }
html.SHINE #themeselect label.dark .foreground span {
  color: #e7e7e7; }

html.SHINE.res-nightmode.theme-dark .flair, html.SHINE.res-nightmode.theme-dark .linkflairlabel {
  color: #8a8a8a;
  border: 1px solid #5b5b5b; }

html.SHINE.res-nightmode.theme-dark input[type="text"], html.SHINE.res-nightmode.theme-dark input[type="password"], html.SHINE.res-nightmode.theme-dark .c-form-control {
  background-color: #080808 !important;
  border-color: #212121 !important; }

html.SHINE.res-nightmode.theme-dark .sidebox, html.SHINE.res-nightmode.theme-dark .subredditbox, html.SHINE.res-nightmode.theme-dark .subreddit-info, html.SHINE.res-nightmode.theme-dark .raisedbox, html.SHINE.res-nightmode.theme-dark .login-form-side, html.SHINE.res-nightmode.theme-dark .morelink {
  background: #151515 !important; }

html.SHINE.res-nightmode.theme-dark.shine-list body {
  background: #080808 !important; }
  html.SHINE.res-nightmode.theme-dark.shine-list body > div.content div#siteTable > .thing {
    background: #0d0d0d !important;
    border-bottom: 1px solid #080808 !important;
    border-left: 5px solid #0d0d0d !important;
    border-top: 0 !important;
    border-right: 0 !important; }
    html.SHINE.res-nightmode.theme-dark.shine-list body > div.content div#siteTable > .thing:hover {
      background: #151515 !important;
      border-left: 5px solid #151515 !important; }
html.SHINE.res-nightmode.theme-dark.shine-list .shine-expand {
  background: #0d0d0d !important;
  border-bottom: 1px solid #151515; }
  html.SHINE.res-nightmode.theme-dark.shine-list .shine-expand .toggle-child-comments {
    background: #151515 !important; }
html.SHINE.res-nightmode.theme-dark.shine-list .side-comments {
  background: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark.shine-list.shine-list-classic .side-comments .shine-comment::after {
  color: #8a8a8a !important;
  border: 1px solid #5b5b5b; }
html.SHINE.res-nightmode.theme-dark body {
  background: #080808 !important; }
  html.SHINE.res-nightmode.theme-dark body > .content {
    background: #080808 !important; }
html.SHINE.res-nightmode.theme-dark #header {
  background: #0d0d0d !important; }
  html.SHINE.res-nightmode.theme-dark #header ul.tabmenu {
    background: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark div#header-bottom-left {
  background: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark div#sr-header-area {
  background: #0d0d0d !important;
  background: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark .md blockquote {
  background: #151515 !important; }
html.SHINE.res-nightmode.theme-dark a#sr-more-link {
  background: #080808;
  border-left: 1px solid #0d0d0d; }
html.SHINE.res-nightmode.theme-dark .comment .child {
  border-left: 1px solid #212121; }
html.SHINE.res-nightmode.theme-dark .comment .showreplies {
  border-left: 1px solid #212121; }
html.SHINE.res-nightmode.theme-dark textarea {
  background-color: #080808 !important;
  border-color: #212121 !important; }
html.SHINE.res-nightmode.theme-dark .sidebox .spacer {
  background: rgba(8, 8, 8, 0.3) !important; }
html.SHINE.res-nightmode.theme-dark .side .linkinfo {
  background: rgba(8, 8, 8, 0.3) !important; }
html.SHINE.res-nightmode.theme-dark .RESCloseButton {
  background-color: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark .read-next {
  background-color: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark .drop-choices {
  background-color: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark.show-sidebar .side {
  background: #0d0d0d; }
html.SHINE.res-nightmode.theme-dark.shine-default .panestack-title {
  border-bottom: 1px solid #0d0d0d; }
html.SHINE.res-nightmode.theme-dark .message.new > .entry {
  background-color: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark.shine-grid body > .content #siteTable .thing {
  background: #0d0d0d !important; }
  html.SHINE.res-nightmode.theme-dark.shine-grid body > .content #siteTable .thing:hover {
    background: #151515 !important; }
  html.SHINE.res-nightmode.theme-dark.shine-grid body > .content #siteTable .thing .entry ul.flat-list {
    border-top: 1px solid #080808; }
html.SHINE.res-nightmode.theme-dark.shine-grid .shine-expand .side-comments {
  background: #0d0d0d !important; }
html.SHINE.res-nightmode.theme-dark.shine-grid .shine-expand .toggle-child-comments {
  background: #151515 !important; }
html.SHINE.res-nightmode.theme-dark #progressIndicator {
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(13, 13, 13, 0.7);
  border-color: rgba(13, 13, 13, 0.4); }
html.SHINE.res-nightmode.theme-dark .usertext.grayed .usertext-body {
  background-color: #080808; }
html.SHINE #themeselect label.dark .foreground {
  background-color: #0d0d0d; }
  html.SHINE #themeselect label.dark .foreground .background {
    background-color: #080808; }
  html.SHINE #themeselect label.dark .foreground .secondary {
    background-color: #151515; }
