$themename: 'material';

//backgrounds
$color_bg_darkest: rgb(30, 40, 45);
$color_bg_darker: rgb(38, 50, 56);
$color_bg_dark: rgb(46, 60, 67);

$color_bg_flair: rgb(173, 174, 179);
$color_bg_flairborder: rgb(133, 134, 139);

$color_bg_textfield_border: rgba(255,255,255, .1);

$color_posttype: rgba(255,255,255, .5);
$color_posttype_bg: $color_bg_textfield_border;

$color_row_bottom_border: $color_bg_darkest;


@import "base/dark";

@import "base/base";