$themename: 'dark';

$color_bg_darkest: #080808; 	//main-background
$color_bg_darker: #0d0d0d;		//list-background
$color_bg_dark: #151515;	//misc-background

$color_bg_flair: mix($color_bg_dark, #fff, 50%);
$color_bg_flairborder: mix($color_bg_dark, #fff, 70%);

$color_bg_textfield_border: mix($color_bg_dark, #fff, 95%);

$color_row_bottom_border: $color_bg_darkest;


@import "base/dark";

@import "base/base";