$themename: 'modernwhite';

//backgrounds
$color_bg_darkest: #fff;
$color_bg_darker: #fff;
$color_bg_dark: #f6f6f6;

$color_bg_flair: mix($color_bg_dark, #000, 60%);
$color_bg_flairborder: mix($color_bg_dark, #000, 70%);

$color_bg_textfield_border: #eee;

$color_posttype: rgba(0,0,0, .7);
$color_posttype_bg: $color_bg_textfield_border;

$color_row_bottom_border: $color_bg_darkest;

$color_shadow_listing: transparent;
//$color_shadow_listing: rgba(0,0,0,.3);


@import "base/light";

@import "base/base-light";


#themeselect .#{$themename} .foreground span {
	color: #000 !important;
}

.theme-.#{$themename} {
	.thumbnail.spoiler::before, .thumbnail.nsfw::before, .thumbnail.default::before, .thumbnail.image::before, .thumbnail.self::before {
	    color: #999 !important;
	}	
}