html.SHINE.res-nightmode.theme-gray .flair, html.SHINE.res-nightmode.theme-gray .linkflairlabel {
  background: transparent;
  padding: 0 4px; }

html.SHINE.res-nightmode.theme-gray input[type="text"], html.SHINE.res-nightmode.theme-gray input[type="password"], html.SHINE.res-nightmode.theme-gray .c-form-control {
  color: #e9e9e9 !important; }

html.SHINE.res-nightmode.theme-gray .sidebox, html.SHINE.res-nightmode.theme-gray .subredditbox, html.SHINE.res-nightmode.theme-gray .subreddit-info, html.SHINE.res-nightmode.theme-gray .raisedbox, html.SHINE.res-nightmode.theme-gray .login-form-side, html.SHINE.res-nightmode.theme-gray .morelink {
  color: rgba(255, 255, 255, 0.75) !important;
  border: 0; }

html.SHINE.res-nightmode.theme-gray.shine-list .shine-expand .side-comments button.save, html.SHINE.res-nightmode.theme-gray.shine-grid .shine-expand .side-comments button.save {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px; }

html.SHINE.res-nightmode.theme-gray.shine-list body > div.content div#siteTable > .thing {
  transition: all 200ms ease; }
html.SHINE.res-nightmode.theme-gray.shine-list .shine-expand .toggle-child-comments {
  color: rgba(255, 255, 255, 0.75) !important; }
html.SHINE.res-nightmode.theme-gray.shine-list.shine-list-classic .side-comments .shine-comment::after {
  background-color: transparent !important;
  transition: all 200ms ease;
  margin: 0 5px 5px 10px; }
html.SHINE.res-nightmode.theme-gray body {
  background-color: transparent;
  border: 0; }
  html.SHINE.res-nightmode.theme-gray body .content {
    background-color: transparent;
    border: 0; }
html.SHINE.res-nightmode.theme-gray #header {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px !important; }
  html.SHINE.res-nightmode.theme-gray #header ul.tabmenu:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px !important; }
html.SHINE.res-nightmode.theme-gray div#header-bottom-left {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px !important; }
html.SHINE.res-nightmode.theme-gray div#sr-header-area {
  border-bottom: 0 solid rgba(255, 255, 255, 0.85) !important; }
  html.SHINE.res-nightmode.theme-gray div#sr-header-area a {
    color: rgba(255, 255, 255, 0.5) !important; }
    html.SHINE.res-nightmode.theme-gray div#sr-header-area a#sr-more-link:hover {
      color: white !important;
      text-decoration: none !important; }
html.SHINE.res-nightmode.theme-gray .md {
  color: #e9e9e9 !important; }
  html.SHINE.res-nightmode.theme-gray .md del {
    color: #e9e9e9 !important; }
  html.SHINE.res-nightmode.theme-gray .md blockquote {
    color: rgba(255, 255, 255, 0.75) !important;
    padding: 6px 8px;
    border-left: 0; }
html.SHINE.res-nightmode.theme-gray .tagline {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.res-nightmode.theme-gray #header-bottom-right a {
  color: #909090; }
html.SHINE.res-nightmode.theme-gray #header-bottom-right .user .userkarma {
  color: rgba(255, 255, 255, 0.75); }
html.SHINE.res-nightmode.theme-gray svg {
  fill: #e9e9e9; }
html.SHINE.res-nightmode.theme-gray .arrow {
  opacity: 0.3; }
html.SHINE.res-nightmode.theme-gray textarea {
  color: #e9e9e9 !important; }
html.SHINE.res-nightmode.theme-gray .sidebox .spacer {
  margin-top: 0 !important; }
html.SHINE.res-nightmode.theme-gray .side {
  background-color: transparent;
  border: 0; }
  html.SHINE.res-nightmode.theme-gray .side .linkinfo {
    margin-top: 0 !important; }
  html.SHINE.res-nightmode.theme-gray .side .leavemoderator {
    background-color: transparent;
    border: 0; }
  html.SHINE.res-nightmode.theme-gray .side .leavecontributor-button {
    background-color: transparent;
    border: 0; }
  html.SHINE.res-nightmode.theme-gray .side .titlebox {
    background-color: transparent;
    border: 0; }
    html.SHINE.res-nightmode.theme-gray .side .titlebox .flairtoggle {
      background-color: transparent;
      border: 0; }
    html.SHINE.res-nightmode.theme-gray .side .titlebox form.flairtoggle {
      background: transparent; }
  html.SHINE.res-nightmode.theme-gray .side .spacer .title {
    margin-top: 20px; }
  html.SHINE.res-nightmode.theme-gray .side .spacer .titlebox .redditname {
    background-color: transparent;
    border: 0; }
  html.SHINE.res-nightmode.theme-gray .side .md ol {
    background: transparent; }
  html.SHINE.res-nightmode.theme-gray .side .md ul {
    background: transparent; }
  html.SHINE.res-nightmode.theme-gray .side .usertext-body .md ol {
    background-color: transparent;
    border: 0; }
    html.SHINE.res-nightmode.theme-gray .side .usertext-body .md ol ol {
      background-color: transparent;
      border: 0; }
      html.SHINE.res-nightmode.theme-gray .side .usertext-body .md ol ol li {
        background-color: transparent;
        border: 0; }
  html.SHINE.res-nightmode.theme-gray .side .recommend-box .rec-item {
    background-color: transparent;
    border: 0; }
html.SHINE.res-nightmode.theme-gray .nsfw-stamp {
  color: #bf4040; }
  html.SHINE.res-nightmode.theme-gray .nsfw-stamp acronym {
    color: #bf4040; }
html.SHINE.res-nightmode.theme-gray .RESCloseButton {
  border: 0; }
html.SHINE.res-nightmode.theme-gray .read-next {
  border: 0; }
html.SHINE.res-nightmode.theme-gray .drop-choices {
  border: 0; }
html.SHINE.res-nightmode.theme-gray .modal-body {
  background-color: transparent;
  border: 0; }
html.SHINE.res-nightmode.theme-gray .thing .title {
  color: #e9e9e9; }
  html.SHINE.res-nightmode.theme-gray .thing .title:visited {
    color: #909090 !important; }
html.SHINE.res-nightmode.theme-gray.show-sidebar .side {
  color: rgba(255, 255, 255, 0.75); }
  html.SHINE.res-nightmode.theme-gray.show-sidebar .side .md {
    color: #909090; }
  html.SHINE.res-nightmode.theme-gray.show-sidebar .side a.reddit-link-title {
    color: #909090; }
html.SHINE.res-nightmode.theme-gray .sidecontentbox .content {
  border: 0 !important;
  background: transparent !important; }
html.SHINE.res-nightmode.theme-gray .link .usertext-body .md {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0 solid #336699;
  border-radius: 0;
  padding: 10px 0; }
html.SHINE.res-nightmode.theme-gray .entry .buttons li a {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.res-nightmode.theme-gray .trending-subreddits strong {
  color: rgba(255, 255, 255, 0.5) !important; }
html.SHINE.res-nightmode.theme-gray .message.new > .entry {
  border: 0; }
html.SHINE.res-nightmode.theme-gray .icon-menu a {
  background-color: transparent;
  border: 0; }
html.SHINE.res-nightmode.theme-gray .modactionlisting table * {
  background-color: transparent;
  border: 0; }
html.SHINE.res-nightmode.theme-gray .fancy-toggle-button a {
  color: white !important; }
html.SHINE.res-nightmode.theme-gray .dropdown.srdrop .selected {
  color: rgba(255, 255, 255, 0.75); }
html.SHINE.res-nightmode.theme-gray .trophy-area .content {
  background: transparent; }
html.SHINE.res-nightmode.theme-gray .tagline a.moderator {
  color: white !important; }
html.SHINE.res-nightmode.theme-gray .tagline a.submitter {
  color: white !important; }
html.SHINE.res-nightmode.theme-gray .tagline a.admin {
  color: white !important; }
html.SHINE.res-nightmode.theme-gray .usertext.grayed .usertext-body div p {
  color: #909090; }
html.SHINE.shine-grid body > .content #siteTable .thing {
  transition: all 200ms ease; }
html.SHINE #themeselect label.gray .foreground span {
  color: #e9e9e9; }

html.SHINE.res-nightmode.theme-gray .flair, html.SHINE.res-nightmode.theme-gray .linkflairlabel {
  color: #939393;
  border: 1px solid #616161; }

html.SHINE.res-nightmode.theme-gray input[type="text"], html.SHINE.res-nightmode.theme-gray input[type="password"], html.SHINE.res-nightmode.theme-gray .c-form-control {
  background-color: #191919 !important;
  border-color: rgba(255, 255, 255, 0.1) !important; }

html.SHINE.res-nightmode.theme-gray .sidebox, html.SHINE.res-nightmode.theme-gray .subredditbox, html.SHINE.res-nightmode.theme-gray .subreddit-info, html.SHINE.res-nightmode.theme-gray .raisedbox, html.SHINE.res-nightmode.theme-gray .login-form-side, html.SHINE.res-nightmode.theme-gray .morelink {
  background: #272727 !important; }

html.SHINE.res-nightmode.theme-gray.shine-list body {
  background: #191919 !important; }
  html.SHINE.res-nightmode.theme-gray.shine-list body > div.content div#siteTable > .thing {
    background: #212121 !important;
    border-bottom: 1px solid #191919 !important;
    border-left: 5px solid #212121 !important;
    border-top: 0 !important;
    border-right: 0 !important; }
    html.SHINE.res-nightmode.theme-gray.shine-list body > div.content div#siteTable > .thing:hover {
      background: #272727 !important;
      border-left: 5px solid #272727 !important; }
html.SHINE.res-nightmode.theme-gray.shine-list .shine-expand {
  background: #212121 !important;
  border-bottom: 1px solid #272727; }
  html.SHINE.res-nightmode.theme-gray.shine-list .shine-expand .toggle-child-comments {
    background: #272727 !important; }
html.SHINE.res-nightmode.theme-gray.shine-list .side-comments {
  background: #212121 !important; }
html.SHINE.res-nightmode.theme-gray.shine-list.shine-list-classic .side-comments .shine-comment::after {
  color: #939393 !important;
  border: 1px solid #616161; }
html.SHINE.res-nightmode.theme-gray body {
  background: #191919 !important; }
  html.SHINE.res-nightmode.theme-gray body > .content {
    background: #191919 !important; }
html.SHINE.res-nightmode.theme-gray #header {
  background: #212121 !important; }
  html.SHINE.res-nightmode.theme-gray #header ul.tabmenu {
    background: #212121 !important; }
html.SHINE.res-nightmode.theme-gray div#header-bottom-left {
  background: #212121 !important; }
html.SHINE.res-nightmode.theme-gray div#sr-header-area {
  background: #212121 !important;
  background: #212121 !important; }
html.SHINE.res-nightmode.theme-gray .md blockquote {
  background: #272727 !important; }
html.SHINE.res-nightmode.theme-gray a#sr-more-link {
  background: #191919;
  border-left: 1px solid #212121; }
html.SHINE.res-nightmode.theme-gray .comment .child {
  border-left: 1px solid rgba(255, 255, 255, 0.1); }
html.SHINE.res-nightmode.theme-gray .comment .showreplies {
  border-left: 1px solid rgba(255, 255, 255, 0.1); }
html.SHINE.res-nightmode.theme-gray textarea {
  background-color: #191919 !important;
  border-color: rgba(255, 255, 255, 0.1) !important; }
html.SHINE.res-nightmode.theme-gray .sidebox .spacer {
  background: rgba(25, 25, 25, 0.3) !important; }
html.SHINE.res-nightmode.theme-gray .side .linkinfo {
  background: rgba(25, 25, 25, 0.3) !important; }
html.SHINE.res-nightmode.theme-gray .RESCloseButton {
  background-color: #212121 !important; }
html.SHINE.res-nightmode.theme-gray .read-next {
  background-color: #212121 !important; }
html.SHINE.res-nightmode.theme-gray .drop-choices {
  background-color: #212121 !important; }
html.SHINE.res-nightmode.theme-gray.show-sidebar .side {
  background: #212121; }
html.SHINE.res-nightmode.theme-gray.shine-default .panestack-title {
  border-bottom: 1px solid #212121; }
html.SHINE.res-nightmode.theme-gray .message.new > .entry {
  background-color: #212121 !important; }
html.SHINE.res-nightmode.theme-gray.shine-grid body > .content #siteTable .thing {
  background: #212121 !important; }
  html.SHINE.res-nightmode.theme-gray.shine-grid body > .content #siteTable .thing:hover {
    background: #272727 !important; }
  html.SHINE.res-nightmode.theme-gray.shine-grid body > .content #siteTable .thing .entry ul.flat-list {
    border-top: 1px solid #191919; }
html.SHINE.res-nightmode.theme-gray.shine-grid .shine-expand .side-comments {
  background: #212121 !important; }
html.SHINE.res-nightmode.theme-gray.shine-grid .shine-expand .toggle-child-comments {
  background: #272727 !important; }
html.SHINE.res-nightmode.theme-gray #progressIndicator {
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(33, 33, 33, 0.7);
  border-color: rgba(33, 33, 33, 0.4); }
html.SHINE.res-nightmode.theme-gray .usertext.grayed .usertext-body {
  background-color: #191919; }
html.SHINE.res-nightmode.theme-gray .thumbnail.spoiler::before, html.SHINE.res-nightmode.theme-gray .thumbnail.nsfw::before, html.SHINE.res-nightmode.theme-gray .thumbnail.default::before, html.SHINE.res-nightmode.theme-gray .thumbnail.image::before, html.SHINE.res-nightmode.theme-gray .thumbnail.self::before {
  color: rgba(255, 255, 255, 0.7) !important;
  background-color: rgba(255, 255, 255, 0.1) !important; }
html.SHINE #themeselect label.gray .foreground {
  background-color: #212121; }
  html.SHINE #themeselect label.gray .foreground .background {
    background-color: #191919; }
  html.SHINE #themeselect label.gray .foreground .secondary {
    background-color: #272727; }
