$themename: 'modernwhite';

//backgrounds
$color_bg_darkest: #fff;
$color_bg_darker: #fff;
$color_bg_dark: #f6f6f6;

$color_bg_flair: #999;
$color_bg_flairborder: transparent;
$color_bg_flairbackground: #eee;

$color_bg_textfield_border: #eee;

$color_posttype: rgba(0,0,0, .7);
$color_posttype_bg: $color_bg_textfield_border;

$color_row_bottom_border: $color_bg_darkest;

$color_shadow_listing: transparent;
//$color_shadow_listing: rgba(0,0,0,.3);

$color_border_shineexpand: #f0f0f0;


@import "base/light";

@import "base/base-light";


#themeselect .#{$themename} .foreground span {
	color: #000 !important;
}

//.theme-.#{$themename} {}